loadrt ilowpass
loadrt scale count=1

setp ilowpass.0.scale 1000
setp ilowpass.0.gain .02
addf ilowpass.0 servo-thread

setp scale.0.gain .00025
addf scale.0 servo-thread

net JogIncr touchy.jog.wheel.increment => scale.0.in
net JogIncrScaled scale.0.out => axis.0.jog-scale axis.1.jog-scale axis.2.jog-scale
net JogX touchy.jog.wheel.x => axis.0.jog-enable
net JogY touchy.jog.wheel.y => axis.1.jog-enable
net JogZ touchy.jog.wheel.z => axis.2.jog-enable
net WheelCounts hm2_5i20.0.encoder.00.count => ilowpass.0.in touchy.wheel-counts

net JogCountsLowpass ilowpass.0.out => axis.0.jog-counts axis.1.jog-counts axis.2.jog-counts

net JogXPos hm2_5i20.0.gpio.020.in_not => touchy.jog.continuous.x.positive
net JogXNeg hm2_5i20.0.gpio.019.in_not => touchy.jog.continuous.x.negative
net JogYPos hm2_5i20.0.gpio.018.in_not => touchy.jog.continuous.y.positive
net JogYNeg hm2_5i20.0.gpio.017.in_not => touchy.jog.continuous.y.negative
net JogZPos hm2_5i20.0.gpio.016.in_not => touchy.jog.continuous.z.positive
net JogZNeg hm2_5i20.0.gpio.015.in_not => touchy.jog.continuous.z.negative

net QuillUp hm2_5i20.0.gpio.013.in_not => touchy.quill-up

net CycleStart hm2_5i20.0.gpio.023.in_not => touchy.cycle-start
net Abort hm2_5i20.0.gpio.022.in_not => touchy.abort
net SingleBlock hm2_5i20.0.gpio.021.in_not => touchy.single-block
