autosave.halscope
build-stamp
lib
*.pyc
*.o
*.ko
*.so
*.so.*
*.a
*.pdf
*.tex
*.mod.c
*.cmd
.tmp*
# Ignore generated html files, 
*.html
# Except Gcode quick-ref cards (en,de,sp,fr) which are maintained by hand
!docs/html/gcode*.html
# Ignore all LyX files, we're done with them now. 
*.lyx
debian/*.debhelper.log
debian/emc2-dev.files
rtlib/Module.symvers
share/*/*.desktop
share/menus/CNC.menu
share/desktop-directories/cnc.directory
src/modules.order
docs/html/drivers/
