<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<META http-equiv="Content-Language" content="de">
<TITLE> LinuxCNC Dokumentation - HTML Version </TITLE>
</HEAD>
<BODY>

<!-- Even though this template file will open in a browser do not open it in a browser it to test changes
     open the /html/index_de.html file in your browser after building the documents -->

<p>Diese Dokumentation bezieht sich auf LinuxCNC Version <strong>@VERSION@</strong>.</p>
<UL>
<LI>Andere verf&uuml;gbare Sprachen: <A HREF="index.html">English</A> <A HREF="index_es.html">Espa&ntilde;ol</A> <A HREF="index_fr.html">Fran&ccedil;ais</A> <A HREF="index_pl.html">Polish</A>
<LI>Translators are needed for English to German.
<p></p>

<LI><A HREF="../html/gcode_de.html">LinuxCNC G Code quick reference</A>
<p></p>
<LI><a name="Erste Schritte"></a> Erste Schritte (Handbuch)
	<UL>
	<LI><A HREF="common/System_Requirements_de.html">System Requirements</A>
	<LI><A HREF="common/Getting_EMC_de.html">Getting LinuxCNC</A>
	<LI><A HREF="common/Updating_EMC_de.html">Updating LinuxCNC</A>
	<LI><A HREF="quickstart/stepper_quickstart_de.html">Stepper Quickstart</A>
	<LI><A HREF="config/stepconf_de.html">Stepper Configuration Wizard</A>
	<LI><A HREF="config/pncconf_de.html">Mesa Configuration Wizard</A>
	<LI><A HREF="config/copy_and_run_de.html">Running LinuxCNC</A>
	<LI><A HREF="common/Linux_FAQ_de.html">Linux FAQ</A>
	</UL>
<LI><a name="User Manual"></a> User Manual
	<UL>
	<LI><A HREF="common/userforeword_de.html">Foreword</A>
	<LI><A HREF="common/user_intro_de.html">LinuxCNC User Introduction</A>
	<LI><A HREF="common/User_Concepts_de.html">Important User Concepts</A>
	<LI><A HREF="gui/axis_de.html">Axis GUI</A>
	<LI><A HREF="gui/touchy_de.html">Touchy GUI</A>
	<LI><A HREF="gui/ngcgui_de.html">NGCGUI</A>
	<LI><A HREF="gui/tkemc_de.html">TkEMC GUI</A>
	<LI><A HREF="gui/mini_de.html">Mini GUI</A>
	<LI><A HREF="gui/keystick_de.html">Keystick GUI</A>
	<LI><A HREF="gcode/machining_center_de.html">CNC Machine Overview</A>
	<LI><A HREF="gcode/coordinates_de.html">Coordinate System</A>
	<LI><A HREF="gcode/tool_compensation_de.html">Tool Compensation</A>
	<LI><A HREF="gcode/overview_de.html">G Code Overview</A>
	<LI><A HREF="gcode/gcode_de.html">G Codes</A>
	<LI><A HREF="gcode/m-code_de.html">M Codes</A>
	<LI><A HREF="gcode/o-code_de.html">O Codes</A>
	<LI><A HREF="gcode/other-code_de.html">Other Codes</A>
	<LI><A HREF="examples/gcode_de.html">G Code Examples</A>
	<LI><A HREF="lathe/lathe-user_de.html">Lathe User Information</A>
	<LI><A HREF="gui/image-to-gcode_de.html">Image to G Code</A>
	<LI><A HREF="gcode/rs274ngc_de.html">RS274/NGC Differences</A>
	</UL>
<LI><a name="Integrator Manuelle"></a> Integrator Manuelle
	<UL>
	<LI><A HREF="common/images/emc2-intro.png">Overleaf Image</A>
	<LI><A HREF="common/overleaf.html">Overleaf Text</A>
	<LI><A HREF="common/Integrator_Concepts_de.html">Integrator Concepts</A>
	<LI><A HREF="install/Latency_Test_de.html">Latency Test</A>
	<LI><A HREF="common/starting-emc_de.html">Startup LinuxCNC</A>
	<LI><A HREF="config/ini_config_de.html">INI Configuration</A>
	<LI><A HREF="config/ini_homing_de.html">Homing Configuration</A>
	<LI><A HREF="config/lathe_config_de.html">Lathe Configuration</A>
	<LI><A HREF="config/emc2hal_de.html">Core Components</A>
	<LI><A HREF="config/stepper_de.html">Stepper Configuration</A>
	<LI><A HREF="hal/pyvcp_de.html">Python Virtual Control Panel</A>
	<LI><A HREF="hal/pyvcp_examples_de.html">PyVCP Examples</A>
	<LI><A HREF="gui/gladevcp_de.html">Glade Virtual Control Panel</A>
	<LI><A HREF="gui/halui_de.html">HAL User Interface</A>
	<LI><A HREF="hal/parallel_port_de.html">Parallel Port Driver</A>
	<LI><A HREF="drivers/AX5214H_de.html">AX5214H Driver</A>
	<LI><A HREF="drivers/GS2_de.html">GS2 Driver</A>
	<LI><A HREF="drivers/hostmot2_de.html">Mesa HostMot2 Driver</A>
	<LI><A HREF="drivers/motenc_de.html">Motenc Driver</A>
	<LI><A HREF="drivers/opto22_de.html">Opto22 Driver</A>
	<LI><A HREF="drivers/pico_ppmc_de.html">Pico PPMC Driver</A>
	<LI><A HREF="drivers/pluto_p_de.html">Pluto P Driver</A>
	<LI><A HREF="drivers/servo_to_go_de.html">Servo To Go Driver</A>
	<LI><A HREF="motion/kinematics_de.html">Kinematics</A>
	<LI><A HREF="motion/tweaking_steppers_de.html">Stepper Tuning</A>
	<LI><A HREF="motion/pid_theory_de.html">PID theory</A>
	<LI><A HREF="ladder/ladder_intro_de.html">Classicladder Introduction</A>
	<LI><A HREF="ladder/classic_ladder_de.html">ClassicLadder Programming</A>
	<LI><A HREF="ladder/ladder_examples_de.html">ClassicLadder Examples</A>
	<LI><A HREF="examples/pci_parallel_port_de.html">PCI Parallel Port</A>
	<LI><A HREF="examples/spindle_de.html">Spindle Control</A>
	<LI><A HREF="examples/mpg_de.html">MPG Example</A>
	<LI><A HREF="examples/gs2_example_de.html">GS2 Example</A>
	</UL>
<LI><a name="HAL Handbuch"></a> HAL Handbuch
	<UL>
	<LI><A HREF="hal/intro_de.html">HAL Introduction</A>
	<LI><A HREF="hal/basic_hal_de.html">Basic HAL Tutorial</A>
	<LI><A HREF="hal/tutorial_de.html">Advanced HAL Tutorial</A>
	<LI><A HREF="hal/canonical-devices_de.html">Canonical Device Interfaces</A>
	<LI><A HREF="hal/tools_de.html">HAL Tools</A>
	<LI><A HREF="hal/halshow_de.html">Halshow</A>
	<LI><A HREF="hal/components_de.html">HAL Components</A>
	<LI><A HREF="hal/rtcomps_de.html">Realtime Components</A>
	<LI><A HREF="hal/hal-examples_de.html">HAL Examples</A>
	<LI><A HREF="hal/comp_de.html">Comp HAL Component Generator</A>
	<LI><A HREF="hal/halmodule_de.html">Creating Userspace Python Components</A>
	</UL>
<LI><a name="Entwickler Handbuch (Englisch)"></a> Entwickler Handbuch (Englisch)
	<UL>
	<LI><A HREF="hal/general_ref_de.html">General Reference</A>
	<LI><A HREF="code/Code_Notes.html">Code Notes</A>
	<LI><A HREF="code/NML_Messages.html">NML Messages</A>
	<LI><A HREF="code/Style_Guide.html">Style Guide</A>
	</UL>
<LI><a name="Glossary, Copyright"></a> Glossary, Copyright
	<UL>	
<!--	<LI><A HREF="./xref_pl.html">Cross Reference Index</A> The CRI is broken-->
	<LI><A HREF="common/emc-history.html">LinuxCNC History</A>
	<LI><A HREF="common/Glossary.html">Glossary</A>
	<LI><A HREF="common/GPLD_Copyright_pl.html">Copyright and Documentation License</A>
	</UL>
