<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>LinuxCNC</title>
<link rel="stylesheet" type="text/css" href="index.css" />
<script type="text/javascript">
//<![CDATA[
var sections = [['sec0', 'sec1', 'sec2', 'sec3', 'sec4', 'sec5', 'sec6',
   'sec7', 'sec8', 'sec9', 'sec10','sec11','sec12','sec13', 'sec14', 'sec15'],
   ['man_1', 'man_9','man_3hal', 'man_3rtapi', 'man_3hm2', 'man_3']];

function storeOK() { // Check for HTML5 Local Storage
  try {
    return 'localStorage' in window && window['localStorage'] !== null;
  } catch (e) {
    return false;
  }
}

function toggle(sec){
  var e = document.getElementById(sec);
  var i = document.getElementById(sec + '_image');
  if(!e)return true;
  if(e.style.display=="none"){
    e.style.display="block"
    i.src = 'minus.png';
    if (storeOK()){localStorage.setItem(sec, "block");}
  }
  else {
    e.style.display="none"
    i.src = 'plus.png';
    if (storeOK()){localStorage.setItem(sec, "none");}
  }
  return false;
}

function toggle_section(a){
  if (a.id.substring(0,3) === "doc"){var s = 0;}
  if (a.id.substring(0,3) === "man"){var s = 1;}
  if (a.value.substring(0,6) === "Expand"){
    for (var i in sections[s]){
      document.getElementById(sections[s][i]).style.display = 'block';
      document.getElementById(sections[s][i] + '_image').src = 'minus.png';
      if (storeOK()){localStorage.setItem(sections[s][i], "block");}
    }
  }
  else{
    for (var i in sections[s]){
      document.getElementById(sections[s][i]).style.display = 'none';
      document.getElementById(sections[s][i] + '_image').src = 'plus.png';
      if (storeOK()){localStorage.setItem(sections[s][i], "none");}
    }
  }
}

function setup_page(){
  for (var s in sections){
    for (var i in sections[s]){
      if (localStorage.getItem(sections[s][i]) != null){
        if (localStorage.getItem(sections[s][i]) === "block"){
          document.getElementById(sections[s][i]).style.display = 'block';
          document.getElementById(sections[s][i] + '_image').src = 'minus.png';
        }
        else{
          document.getElementById(sections[s][i]).style.display = 'none';
          document.getElementById(sections[s][i] + '_image').src = 'plus.png';
        }
      }
      else{
        document.getElementById(sections[s][i]).style.display = 'none';
        document.getElementById(sections[s][i] + '_image').src = 'plus.png';
      }
    }
  }
}
//]]>
</script>
</head>
<body onload="return setup_page()">

<!-- Even though this template file will open in a browser do not open it in a browser it to test changes
     open the /html/index.html file in your browser after building the documents
     If this is the .html file do not edit it, edit the .tmpl file then build the documents -->
<div style="text-align: center">
  <img src="linuxcnc-logo-chips.png" alt="LinuxCNC Logo" width="175"/>
</div>

<h3>LinuxCNC version <strong>@VERSION@</strong></h3>

<div style="margin-top: 0em; margin-bottom: 1em; line-height: 150%">
<p>Translated Documents <a href="index_es.html">Espa&ntilde;ol</a>  *  
<a href="index_fr.html">Fran&ccedil;ais</a></p>
<p><a href="http://linuxcnc.org">LinuxCNC Home Page</a>  *  
<a href="http://wiki.linuxcnc.org/cgi-bin/wiki.pl">Wiki Community</a>  *  
<a href="gcode.html">G Code Quick Reference</a></p>
</div>
<p><input type="button" id="docExpand" value="Expand Documents" onclick="return toggle_section(this);"/>
   <input type="button" id="docCollapse" value="Collapse Documents" onclick="return toggle_section(this);"/></p>
<p><a onclick="return toggle('sec0')"><img id="sec0_image" src="plus.png" alt="plus" style="border:0; margin-right:5px; vertical-align:middle;"/>Getting Started with LinuxCNC</a></p>

<div id="sec0">
	<ul>
		<li><a href="getting-started/about-linuxcnc.html">About LinuxCNC</a></li>
		<li><a href="getting-started/system-requirements.html">System Requirements</a></li>
		<li><a href="getting-started/getting-linuxcnc.html">Getting LinuxCNC</a></li>
		<li><a href="getting-started/running-linuxcnc.html">Configuration Launcher</a></li>
		<li><a href="getting-started/updating-linuxcnc.html">Updating LinuxCNC</a></li>
		<li><a href="common/linux-faq.html">Linux FAQ</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec1')"><img id="sec1_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Configuration Wizards</a></p>
<div id="sec1">
	<ul>
		<li><a class="tooltips" href="config/stepconf.html">Stepconf, Parallel Port Stepper Configurator</a></li>
		<li><a class="tooltips" href="config/pncconf.html">Pncconf, Mesa Hardware Configurator</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec2')"><img id="sec2_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>General User Information</a></p>
<div id="sec2">
	<ul>
		<li><a href="user/user-foreword.html">User Foreword</a></li>
		<li><a href="user/user-intro.html">LinuxCNC User Introduction</a></li>
		<li><a href="user/user-concepts.html">Important User Concepts</a></li>
		<li><a href="user/starting-linuxcnc.html">Starting LinuxCNC</a></li>
		<li><a href="gcode/machining-center.html">CNC Machine Overview</a></li>
		<li><a href="lathe/lathe-user.html">Lathe User Information</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec3')"><img id="sec3_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>User Interfaces</a></p>
<div id="sec3">
	<ul>
		<li><a href="gui/axis.html">Axis, Keyboard GUI</a></li>
		<li><a href="gui/gmoccapy.html">Gmoccapy, Touchscreen GUI</a> <a href="gui/gmoccapy-hu.html"> hu(Magyar)</a></li>
		<li><a href="gui/touchy.html">Touchy, Touchscreen GUI</a></li>
		<li><a href="gui/gscreen.html">Gscreen, Customizable Touchscreen GUI</a></li>
		<li><a href="gui/ngcgui.html">NGCGUI, Subroutine GUI</a></li>
		<li><a href="gui/tklinuxcnc.html">TkLinuxCNC, (no opengl) GUI</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec4')"><img id="sec4_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>G code Programming</a></p>
<div id="sec4">
	<ul>
		<li><a href="gcode/coordinates.html">Coordinate System</a></li>
		<li><a href="gcode/tool-compensation.html">Tool Compensation</a></li>
		<li><a href="gui/tooledit.html">Tool Table Editor</a></li>
		<li><a href="gcode/overview.html">G Code Overview</a></li>
		<li><a href="gcode/g-code.html">G Codes</a></li>
		<li><a href="gcode/m-code.html">M Codes</a></li>
		<li><a href="gcode/o-code.html">O Codes</a></li>
		<li><a href="gcode/other-code.html">Other Codes</a></li>
		<li><a href="examples/gcode.html">G Code Examples</a></li>
		<li><a href="gui/image-to-gcode.html">Image to G Code</a></li>
		<li><a href="gcode/rs274ngc.html">RS274/NGC Differences</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec5')"><img id="sec5_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Configuration</a></p>
<div id="sec5">
	<ul>
		<li><a href="config/integrator-concepts.html">Integrator Concepts</a></li>
		<li><a href="install/latency-test.html">Latency Test</a></li>
		<li><a href="motion/tweaking-steppers.html">Stepper Tuning</a></li>
		<li><a href="config/ini-config.html">INI Configuration</a></li>
		<li><a href="config/ini-homing.html">Homing Configuration</a></li>
		<li><a href="config/lathe-config.html">Lathe Configuration</a></li>
		<li><a href="config/stepper-quickstart.html">Stepper Quick Start</a></li>
		<li><a href="config/stepper.html">Stepper Configuration</a></li>
		<li><a href="config/stepper-diagnostics.html">Stepper Diagnostics</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec6')"><img id="sec6_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Virtual Control Panels</a></p>
<div id="sec6">
	<ul>
		<li><a href="gui/pyvcp.html">Python Virtual Control Panel</a></li>
		<li><a href="gui/pyvcp-examples.html">PyVCP Examples</a></li>
		<li><a href="gui/gladevcp.html">Glade Virtual Control Panel</a></li>
		<li><a href="gui/gscreen.html">Gscreen</a></li>
		<li><a href="gui/qtvcp.html">QTvcp</a></li>
		<li><a href="gui/qtvcp_widgets.html">QTvcp -widgets</a></li>
		<li><a href="gui/qtvcp_libraries.html">QTvcp -libraries</a></li>
		<li><a href="gui/qtvcp_custom_widgets.html">QTvcp -Custom Widgets</a></li>
		<li><a href="gui/qtvcp_development.html">QTvcp -Development</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec7')"><img id="sec7_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>User Interface Programming</a></p>
<div id="sec7">
	<ul>
		<li><a href="gui/panelui.html">Panelui</a></li>
		<li><a class="tooltips" href="gui/halui.html">HALUI, Hardware Abstract Layer User Interface</a></li>
		<li><a href="hal/halui-examples.html">HALUI examples</a></li>
		<li><a href="config/python-interface.html">Python Interface</a></li>
		<li><a href="gui/GStat.html">GStat Module</a></li>
		<li><a href="gui/vismach.html">Vismach Virtual Machines</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec8')"><img id="sec8_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Hardware Drivers</a></p>
<div id="sec8">
	<ul>
		<li><a href="hal/parallel-port.html">Parallel Port Driver</a></li>
		<li><a href="drivers/ax5214h.html">AX5214H Driver</a></li>
		<li><a href="drivers/gm.html">General Mechatronics GM6-PCI Driver</a></li>
		<li><a href="drivers/gs2.html">GS2 Driver</a></li>
		<li><a href="drivers/hostmot2.html">Mesa HostMot2 Driver</a></li>
		<li><a href="drivers/motenc.html">Motenc Driver</a></li>
		<li><a href="drivers/mb2hal.html">Modbus to HAL Driver</a></li>
		<li><a href="drivers/opto22.html">Opto22 Driver</a></li>
		<li><a href="drivers/pico-ppmc.html">Pico Drivers</a></li>
		<li><a href="drivers/pluto-p.html">Pluto P Driver</a></li>
		<li><a href="drivers/servo-to-go.html">Servo To Go Driver</a></li>
		<li><a href="drivers/shuttle.html">ShuttleXpress and ShuttlePRO Driver</a></li>
		<li><a href="drivers/vfs11.html">VFS11 Driver</a></li>
		<li><a href="drivers/mitsub_vfd.html">Mitsubishi VFD Driver</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec9')"><img id="sec9_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Classicladder</a></p>
<div id="sec9">
Classicladder is a software PLC (Programmable Logic Controller) built
into LinuxCNC.
	<ul>
		<li><a href="ladder/ladder-intro.html">Classicladder Introduction</a></li>
		<li><a href="ladder/classic-ladder.html">ClassicLadder Programming</a></li>
		<li><a href="ladder/ladder-examples.html">ClassicLadder Examples</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec10')"><img id="sec10_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Hardware Examples</a></p>
<div id="sec10">
	<ul>
		<li><a href="examples/pci-parallel-port.html">PCI Parallel Port Example</a></li>
		<li><a href="examples/spindle.html">Spindle Control Example</a></li>
		<li><a href="examples/mpg.html">MPG Example</a></li>
		<li><a href="examples/gs2-example.html">GS2 Example</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec11')"><img id="sec11_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>HAL (Hardware Abstraction Layer)</a></p>
<div id="sec11">
	<ul>
		<li><a href="hal/intro.html">HAL Introduction</a></li>
		<li><a href="hal/basic-hal.html">Basic HAL Tutorial</a></li>
		<li><a href="hal/twopass.html">HAL Twopass</a></li>
		<li><a href="hal/tutorial.html">Advanced HAL Tutorial</a></li>
		<li><a href="config/core-components.html">Core HAL Components</a></li>
		<li><a href="hal/components.html">HAL Component List</a></li>
		<li><a href="hal/rtcomps.html">HAL Component Descriptions</a></li>
		<li><a href="hal/halshow.html">Halshow</a></li>
		<li><a href="hal/hal-examples.html">HAL Examples</a></li>
		<li><a href="hal/comp.html">HAL Component Generator</a></li>
		<li><a href="hal/haltcl.html">HAL TCL Files</a></li>
		<li><a href="hal/halmodule.html">Creating Userspace Python Components</a></li>
		<li><a href="hal/canonical-devices.html">Canonical Device Interfaces</a></li>
		<li><a href="hal/tools.html">HAL Tools</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec12')"><img id="sec12_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Advanced Topics</a></p>
<div id="sec12">
	<ul>
		<li><a href="motion/kinematics.html">Kinematics</a></li>
		<li><a href="motion/5-axis-kinematics.html">5-Axis-Kinematics</a></li>
		<li><a href="motion/pid-theory.html">PID theory</a></li>
		<li><a href="remap/remap.html">Remap: Extending LinuxCNC</a></li>
		<li><a href="config/moveoff.html">Moveoff Component</a></li>
		<li><a href="code/rs274.html">Stand Alone Interperter</a></li>
		<li><a href="motion/external-offsets.html">External Offsets</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec13')"><img id="sec13_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Integrator Information</a></p>
<div id="sec13">
	<ul>
		<li><a href="integrator/steppers.html">Stepper Information</a></li>
		<li><a href="integrator/stepper-timing.html">Stepper Drive Timing</a></li>
		<li><a href="integrator/wiring.html">Best Wiring Practices</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec14')"><img id="sec14_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Developer Information</a></p>
<div id="sec14">
	<ul>
		<li><a href="hal/general-ref.html">General Reference</a></li>
		<li><a href="code/code-notes.html">Code Notes</a></li>
		<li><a href="code/nml-messages.html">NML Messages</a></li>
		<li><a href="code/style-guide.html">Style Guide</a></li>
		<li><a href="code/adding-configs.html">Adding Configs for Selection</a></li>
		<li><a href="code/contributing-to-linuxcnc.html">Contributing to LinuxCNC</a></li>
		<li><a href="code/building-linuxcnc.html">Building LinuxCNC</a></li>
	</ul>
</div>

<p><a onclick="return toggle('sec15')"><img id="sec15_image" src="plus.png" alt="plus" style="border:0;margin-right:5px;vertical-align:middle;"/>Glossary, Copyright, History &amp; Overview</a></p>
	<div id="sec15">
	<ul>
		<li><a href="common/overleaf.html">LinuxCNC Document Overview</a></li>
		<li><a href="common/emc-history.html">LinuxCNC History</a></li>
		<li><a href="common/glossary.html">Glossary</a></li>
		<li><a href="common/gpld-copyright.html">Copyright &amp; Documentation License</a></li>
		</ul>
	</div>

<h3>Man Pages</h3>
<div style="margin-top: 0em; margin-bottom: 1em; line-height: 150%">
<p>For more information about man pages see the <a href="common/linux-faq.html">Linux FAQ</a></p>
</div>
<p><input type="button" id="manExpand" value="Expand Man Pages" onclick="return toggle_section(this);"/>
   <input type="button" id="manCollapse" value="Collapse Man Pages" onclick="return toggle_section(this);"/></p>
