<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<META http-equiv="Content-Language" content="es">
<TITLE> LinuxCNC Documentaci&oacute;n - versi&oacute;n HTML </TITLE>
</HEAD>
<BODY>

<!-- Even though this template file will open in a browser do not open it in a browser it to test changes
     open the /html/index_es.html file in your browser after building the documents -->

<p>Esta documentaci&oacute;n hace referencia a la versi&oacute;n LinuxCNC <strong>@VERSION@</strong>.</p>
<UL>
<LI>Otros idiomas disponibles: <A HREF="index.html">English</A> <A HREF="index_de.html">Deutsch</A> <A HREF="index_fr.html">Fran&ccedil;ais</A> <A HREF="index_pl.html">Polish</A>
<p></p>

<LI><A HREF="../html/gcode_es.html">LinuxCNC G C&oacute;digo de Referencia R&aacute;pida</A>
<p></p>
<LI><a name="Primeros pasos"></a> Primeros pasos (Manual)
	<UL>
	<LI><A HREF="common/System_Requirements_es.html">Computadora</A>
	<LI><A HREF="common/Getting_EMC_es.html">Sobre LinuxCNC</A>
	<LI><A HREF="common/Updating_EMC_es.html">Actualizando LinuxCNC</A>
	<LI><A HREF="quickstart/stepper_quickstart_es.html">Stepper Quickstart</A>
	<LI><A HREF="config/stepconf_es.html">Stepper Configuration Wizard</A>
	<LI><A HREF="config/pncconf_es.html">Mesa Configuration Wizard</A>
	<LI><A HREF="config/copy_and_run_es.html">Running LinuxCNC</A>
	<LI><A HREF="common/Stepper_Diagonstics_ex.html">Stepper Diagonistics</A>
	<LI><A HREF="common/Linux_FAQ_es.html">Linux FAQ</A>
	</UL>
<LI><a name="Manual del usuario"></a> Manual del usuario
	<UL>
	<LI><A HREF="common/userforeword_es.html">Foreword</A>
	<LI><A HREF="common/user_intro_es.html">LinuxCNC User Introduction</A>
	<LI><A HREF="common/User_Concepts_es.html">Important User Concepts</A>
	<LI><A HREF="gui/axis_es.html">Axis GUI</A>
	<LI><A HREF="gui/touchy_es.html"> Touchy GUI</A>
	<LI><A HREF="gui/ngcgui_es.html">NGCGUI</A>
	<LI><A HREF="gui/tkemc_es.html">TkEMC GUI</A>
	<LI><A HREF="gui/mini_es.html">Mini GUI</A>
	<LI><A HREF="gui/keystick_es.html">Keystick GUI</A>
	<LI><A HREF="gcode/machining_center_es.html">CNC Machine Overview</A>
	<LI><A HREF="gcode/coordinates_es.html">Coordinate System</A>
	<LI><A HREF="gcode/tool_compensation_es.html">Tool Compensation</A>
	<LI><A HREF="gcode/overview_es.html">G Code Overview</A>
	<LI><A HREF="gcode/gcode_es.html">G Codes</A>
	<LI><A HREF="gcode/m-code_es.html">M Codes</A>
	<LI><A HREF="gcode/o-code_es.html">O Codes</A>
	<LI><A HREF="gcode/other-code_es.html">Other Codes</A>
	<LI><A HREF="examples/gcode_es.html">G Code Examples</A>
	<LI><A HREF="lathe/lathe-user_es.html">Lathe User Information</A>
	<LI><A HREF="gui/image-to-gcode_es.html">Image to G Code</A>
	<LI><A HREF="gcode/rs274ngc_es.html">RS274/NGC Differences</A>
	</UL>
<LI><a name="Manual Integrador"></a> Manual Integrador
	<UL>
	<LI><A HREF="common/images/emc2-intro.png">Overleaf Image</A>
	<LI><A HREF="common/overleaf.html">Overleaf Text</A>
	<LI><A HREF="common/Integrator_Concepts_es.html">Integrator Concepts</A>
	<LI><A HREF="install/Latency_Test_es.html">Latency Test</A>
	<LI><A HREF="common/starting-emc_es.html">Starting LinuxCNC</A>
	<LI><A HREF="config/ini_config_es.html">INI Configuration</A>
	<LI><A HREF="config/ini_homing_es.html">Homing Configuration</A>
	<LI><A HREF="config/lathe_config_es.html">Lathe Configuration</A>
	<LI><A HREF="hal/haltcl_es.html">HAL TCL Files</A>
	<LI><A HREF="config/emc2hal_es.html">Core Components</A>
	<LI><A HREF="config/stepper_es.html">Stepper Configuration</A>
	<LI><A HREF="hal/pyvcp_es.html">Python Virtual Control Panel</A>
	<LI><A HREF="hal/pyvcp_examples_es.html">PyVCP Examples</A>
	<LI><A HREF="gui/gladevcp_es.html">Glade Virtual Control Panel</A>
	<LI><A HREF="gui/halui_es.html">HAL User Interface</A>
	<LI><A HREF="hal/parallel_port_es.html">Parallel Port Driver</A>
	<LI><A HREF="drivers/AX5214H_es.html">AX5214H Driver</A>
	<LI><A HREF="drivers/GS2_es.html">GS2 Driver</A>
	<LI><A HREF="drivers/hostmot2_es.html">Mesa HostMot2 Driver</A>
	<LI><A HREF="drivers/motenc_es.html">Motenc Driver</A>
	<LI><A HREF="drivers/opto22_es.html">Opto22 Driver</A>
	<LI><A HREF="drivers/pico_ppmc_es.html">Pico Drivers</A>
	<LI><A HREF="drivers/pluto_p_es.html">Pluto P Driver</A>
	<LI><A HREF="drivers/servo_to_go_es.html">Servo To Go Driver</A>
	<LI><A HREF="drivers/shuttlexpress_es.html">ShuttleXpress Driver</A>
	<LI><A HREF="motion/kinematics_es.html">Kinematics</A>
	<LI><A HREF="motion/tweaking_steppers_es.html">Stepper Tuning</A>
	<LI><A HREF="motion/pid_theory_es.html">PID theory</A>
	<LI><A HREF="ladder/ladder_intro_es.html">Classicladder Introduction</A>
	<LI><A HREF="ladder/classic_ladder_es.html">ClassicLadder Programming</A>
	<LI><A HREF="ladder/ladder_examples_es.html">ClassicLadder Examples</A>
	<LI><A HREF="examples/pci_parallel_port_es.html">PCI Parallel Port</A>
	<LI><A HREF="examples/spindle_es.html">Spindle Control</A>
	<LI><A HREF="examples/mpg_es.html">MPG Example</A>
	<LI><A HREF="examples/gs2_example_es.html">GS2 Example</A>
	</UL>
<LI><a name="HAL Manual"></a> HAL Manual
	<UL>
	<LI><A HREF="hal/intro_es.html">HAL Introduction</A>
	<LI><A HREF="hal/basic_hal_es.html">Basic HAL Tutorial</A>
	<LI><A HREF="hal/tutorial_es.html">Advanced HAL Tutorial</A>
	<LI><A HREF="hal/canonical-devices_es.html">Canonical Device Interfaces</A>
	<LI><A HREF="hal/tools_es.html">HAL Tools</A>
	<LI><A HREF="hal/halshow_es.html">Halshow</A>
	<LI><A HREF="hal/components_es.html">HAL Components</A>
	<LI><A HREF="hal/rtcomps_es.html">Realtime Components</A>
	<LI><A HREF="hal/hal-examples_es.html">HAL Examples</A>
	<LI><A HREF="hal/comp_es.html">Comp HAL Component Generator</A>
	<LI><A HREF="hal/halmodule_es.html">Creating Userspace Python Components</A>
	</UL>
<LI><a name="Manual del desarrollador (Inglés)"></a> Manual del desarrollador (Ingl&eacute;s)
	<UL>
	<LI><A HREF="hal/general_ref_es.html">General Reference</A>
	<LI><A HREF="code/Code_Notes.html">Code Notes</A>
	<LI><A HREF="code/NML_Messages.html">NML Messages</A>
	<LI><A HREF="code/Style_Guide.html">Style Guide</A>
	</UL>
<LI><a name="Glossary, Copyright"></a> Glossary, Copyright
	<UL>	
<!--	<LI><A HREF="./xref_pl.html">Cross Reference Index</A> The CRI is broken-->
	<LI><A HREF="common/emc-history.html">LinuxCNC History</A>
	<LI><A HREF="common/Glossary.html">Glossary</A>
	<LI><A HREF="common/GPLD_Copyright_pl.html">Copyright and Documentation License</A>
	</UL>
