<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<META http-equiv="Content-Language" content="pl">
<TITLE> LinuxCNC Documentation - HTML version </TITLE>
</HEAD>
<BODY>

<!-- Even though this template file will open in a browser do not open it in a browser it to test changes
     open the /html/index_pl.html file in your browser after building the documents -->

<p>This documentation refers to LinuxCNC version <strong>@VERSION@</strong>.</p>
<UL>
<LI>Other languages available: <A HREF="index.html">English</A> <A HREF="index_de.html">Deutsch</A> <A HREF="index_es.html">Espa&ntilde;ol</A> <A HREF="index_fr.html">Fran&ccedil;ais</A>
<p></p>

<LI><A HREF="../html/gcode.html">LinuxCNC G Code quick reference</A>
<p></p>
<LI><a name="Getting Started"></a> Getting Started (Manual)
	<UL>
	<LI><A HREF="common/System_Requirements_pl.html">System Requirements</A>
	<LI><A HREF="common/Getting_EMC_pl.html">Getting LinuxCNC</A>
	<LI><A HREF="common/Updating_EMC_pl.html">Updating LinuxCNC</A>
	<LI><A HREF="quickstart/stepper_quickstart_pl.html">Stepper Quickstart</A>
	<LI><A HREF="config/stepconf_pl.html">Stepper Configuration Wizard</A>
	<LI><A HREF="config/pncconf_pl.html">Mesa Configuration Wizard</A>
	<LI><A HREF="config/copy_and_run_pl.html">Running LinuxCNC</A>
	<LI><A HREF="common/Linux_FAQ_pl.html">Linux FAQ</A>
	</UL>
<LI><a name="User Manual"></a> User Manual
	<UL>
	<LI><A HREF="common/userforeword_pl.html">Foreword</A>
	<LI><A HREF="common/user_intro_pl.html">LinuxCNC User Introduction</A>
	<LI><A HREF="common/User_Concepts_pl.html">Important User Concepts</A>
	<LI><A HREF="gui/axis_pl.html">Axis GUI</A>
	<LI><A HREF="gui/touchy_pl.html">Touchy GUI</A>
	<LI><A HREF="gui/ngcgui_pl.html">NGCGUI</A>
	<LI><A HREF="gui/tkemc_pl.html">TkEMC GUI</A>
	<LI><A HREF="gui/mini_pl.html">Mini GUI</A>
	<LI><A HREF="gui/keystick_pl.html">Keystick GUI</A>
	<LI><A HREF="gcode/machining_center_pl.html">CNC Machine Overview</A>
	<LI><A HREF="gcode/coordinates_pl.html">Coordinate System</A>
	<LI><A HREF="gcode/tool_compensation_pl.html">Tool Compensation</A>
	<LI><A HREF="gcode/overview_pl.html">G Code Overview</A>
	<LI><A HREF="gcode/gcode_pl.html">G Codes</A>
	<LI><A HREF="gcode/m-code_pl.html">M Codes</A>
	<LI><A HREF="gcode/o-code_pl.html">O Codes</A>
	<LI><A HREF="gcode/other-code_pl.html">Other Codes</A>
	<LI><A HREF="examples/gcode_pl.html">G Code Examples</A>
	<LI><A HREF="lathe/lathe-user_pl.html">Lathe User Information</A>
	<LI><A HREF="gui/image-to-gcode_pl.html">Image to G Code</A>
	<LI><A HREF="gcode/rs274ngc_pl.html">RS274/NGC Differences</A>
	</UL>
<LI><a name="Integrator Manual"></a> Integrator Manual
	<UL>
	<LI><A HREF="common/Integrator_Concepts_pl.html">Integrator Concepts</A>
	<LI><A HREF="install/Latency_Test_pl.html">Latency Test</A>
	<LI><A HREF="common/starting-emc_pl.html">Starting LinuxCNC</A>
	<LI><A HREF="config/ini_config_pl.html">Basic Configuration</A>
	<LI><A HREF="config/ini_homing_pl.html">Homing Configuration</A>
	<LI><A HREF="config/lathe_config_pl.html">Lathe Configuration</A>
	<LI><A HREF="config/emc2hal_pl.html">Core Components</A>
	<LI><A HREF="config/stepper_pl.html">Stepper Configuration</A>
	<LI><A HREF="hal/pyvcp_pl.html">Python Virtual Control Panel</A>
	<LI><A HREF="hal/pyvcp_examples_pl.html">PyVCP Examples</A>
	<LI><A HREF="gui/gladevcp_pl.html">Glade Virtual Control Panel</A>
	<LI><A HREF="gui/halui_pl.html">HAL User Interface</A>
	<LI><A HREF="hal/parallel_port_pl.html">Parallel Port Driver</A>
	<LI><A HREF="drivers/AX5214H_pl.html">AX5214H Driver</A>
	<LI><A HREF="drivers/GS2_pl.html">GS2 Driver</A>
	<LI><A HREF="drivers/hostmot2_pl.html">Mesa HostMot2 Driver</A>
	<LI><A HREF="drivers/motenc_pl.html">Motenc Driver</A>
	<LI><A HREF="drivers/opto22_pl.html">Opto22 Driver</A>
	<LI><A HREF="drivers/pico_ppmc_pl.html">Pico Drivers</A>
	<LI><A HREF="drivers/pluto_p_pl.html">Pluto P Driver</A>
	<LI><A HREF="drivers/servo_to_go_pl.html">Servo To Go Driver</A>
	<LI><A HREF="motion/kinematics_pl.html">Kinematics</A>
	<LI><A HREF="motion/tweaking_steppers_pl.html">Stepper Tuning</A>
	<LI><A HREF="motion/pid_theory_pl.html">PID theory</A>
	<LI><A HREF="ladder/ladder_intro_pl.html">Classicladder Introduction</A>
	<LI><A HREF="ladder/classic_ladder_pl.html">ClassicLadder Programming</A>
	<LI><A HREF="ladder/ladder_examples_pl.html">ClassicLadder Examples</A>
	<LI><A HREF="examples/pci_parallel_port_pl.html">PCI Parallel Port</A>
	<LI><A HREF="examples/spindle_pl.html">Spindle Control</A>
	<LI><A HREF="examples/mpg_pl.html">MPG Example</A>
	<LI><A HREF="examples/gs2_example_pl.html">GS2 Example</A>
	</UL>
<LI><a name="HAL Manual"></a> HAL Manual
	<UL>
	<LI><A HREF="hal/intro_pl.html">HAL Introduction</A>
	<LI><A HREF="hal/basic_hal_pl.html">Basic HAL Tutorial</A>
	<LI><A HREF="hal/tutorial_pl.html">Advanced HAL Tutorial</A>
	<LI><A HREF="hal/canonical-devices_pl.html">Canonical Device Interfaces</A>
	<LI><A HREF="hal/tools_pl.html">HAL Tools</A>
	<LI><A HREF="hal/halshow_pl.html">Halshow</A>
	<LI><A HREF="hal/components_pl.html">HAL Components</A>
	<LI><A HREF="hal/rtcomps_pl.html">Realtime Components</A>
	<LI><A HREF="hal/hal-examples_pl.html">HAL Examples</A>
	<LI><A HREF="hal/comp_pl.html">Comp HAL Component Generator</A>
	<LI><A HREF="hal/halmodule_pl.html">Creating Userspace Python Components</A>
	</UL>
<LI><a name="Developer Manual"></a> Developer Manual
	<UL>
	<LI><A HREF="hal/general_ref_pl.html">General Reference</A>
	<LI><A HREF="code/Code_Notes.html">Code Notes</A>
	<LI><A HREF="code/NML_Messages.html">NML Messages</A>
	<LI><A HREF="code/Style_Guide.html">Style Guide</A>
	</UL>
<LI><a name="Glossary, Copyright"></a> Glossary, Copyright
	<UL>	
<!--	<LI><A HREF="./xref_pl.html">Cross Reference Index</A> The CRI is broken-->
	<LI><A HREF="common/emc-history.html">LinuxCNC History</A>
	<LI><A HREF="common/Glossary.html">Glossary</A>
	<LI><A HREF="common/GPLD_Copyright_pl.html">Copyright and Documentation License</A>
	</UL>
