
[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/pncconf
Icon=emc2icon
X-GNOME-DocPath=
Terminal=false
Name=EMC2 Pncconf Wizard
Comment=Configuration Wizard For Mesa I/O Cards
StartupNotify=false
Categories=X-CNC;
Name[en_CA]=emc2-pncconf.desktop
