[Desktop Entry]
Version=
Encoding=UTF-8
Name=EMC2 HAL Manual (French)
Type=Application
Exec=/usr/bin/see /usr/share/doc/emc2/HAL_User_Manual_fr.pdf
Icon=gnome-help
X-GNOME-DocPath=
Terminal=false
Comment=The EMC2 HAL Manual. Details about the Hardware Abstract Layer. (French)
StartupNotify=false
Categories=X-CNC;
GenericName[en_US]=
