[Desktop Entry]
Version=1.0
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_User_Manual_fr.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc_fr.svg
X-GNOME-DocPath=
Terminal=false
Name=User Manual - FR
Comment=The LinuxCNC User Manual
StartupNotify=false
Categories=Utility;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
