[Desktop Entry]
Version=1.0
Name=Integrator Information - zh_CN
Comment=Documentation for the integrator of LinucCNC
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Integrator_zh_CN.pdf
Icon=linuxcnc_zh_CN
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
