[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/linuxcnc
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=LinuxCNC
Comment=Linuxcnc Machine Controller
StartupNotify=false
Categories=Utility;Engineering;X-CNC_DOC;
Keywords=cnc;linuxcnc;cncprog;
