[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/pncconf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Comment=Configuration Wizard For Mesa I/O Cards
StartupNotify=false
Categories=X-CNC;
Name=LinuxCNC Pncconf Wizard
