[Desktop Entry]
Version=1.0
Name=Getting Started Guide - ES
Comment=Information on how to download and install LinuxCNC
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Getting_Started_es.pdf
Icon=linuxcnc_es
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
