[Desktop Entry]
Version=1.0
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Documentation_es.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc_es.svg
X-GNOME-DocPath=
Terminal=false
Name=User Manual - ES
Comment=LinuxCNC Documentation
StartupNotify=false
Categories=Science;X-CNC-DOC;
Keywords=cnc;linuxcnc;
