[Desktop Entry]
Version=1.0
Name=Integrator Information - FR
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Integrator_Manual_fr.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc_fr.svg
X-GNOME-DocPath=
Terminal=false
Comment=Installation and Configuration Manual (French)
StartupNotify=false
Categories=Utility;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
