[Desktop Entry]
Version=1.0
Name=HAL Manual - FR
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_HAL_Manual_fr.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc_fr.svg
X-GNOME-DocPath=
Terminal=false
Comment=Details about the Hardware Abstract Layer.
StartupNotify=false
Categories=Utility;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
