[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/x-www-browser /usr/share/doc/linuxcnc/gcode_es.html
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc_es.svg
X-GNOME-DocPath=
Terminal=false
Name=G-Code Quick Reference - ES
Comment=Quick reference for G, M and O codes in LinuxCNC
StartupNotify=false
Categories=Science;X-CNC-REF;
Keywords=cnc;linuxcnc;
