[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/see /usr/share/doc/linuxcnc/LinuxCNC_User_Manual_fr.pdf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=French User Manual
Comment=The LinuxCNC User Manual
StartupNotify=false
Categories=X-CNC;
Keywords=cnc;linuxcnc;
