[Desktop Entry]
Version=
Encoding=UTF-8
Name=LinuxCNC Developer Manual
Type=Application
Exec=/usr/bin/see /usr/share/doc/linuxcnc/LinuxCNC_Developer_Manual.pdf
Icon=gnome-help
X-GNOME-DocPath=
Terminal=false
Comment=Advanced configuration hints
StartupNotify=false
Categories=X-CNC;
GenericName[en_US]=
Comment[en_US]=Developer Manual
