[Desktop Entry]
Version=1.0
Name=Integrator Information - DE
Comment=Documentation for the integrator of LinuxCNC (German)
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Integrator_de.pdf
Icon=linuxcnc_de
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
X-AppStream-Ignore=true
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
