[Desktop Entry]
Version=1.0
Name=G-Code Quick Reference - FR
Comment=Quick reference for G, M and O codes in LinuxCNC
Type=Application
Exec=x-www-browser /usr/share/doc/linuxcnc/gcode_fr.html
Icon=linuxcnc_fr
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-REF;
Keywords=cnc;linuxcnc;cncdoc;
