[Desktop Entry]
Version=1.0
Name=Integrator Information - FR
Comment=Documentation for the integrator of LinucCNC
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Integrator_fr.pdf
Icon=linuxcnc_fr
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
