[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/latency-test
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=Latency Test
Comment=Test your computers's latency
StartupNotify=false
Categories=X-CNC;
Keywords=cnc;linuxcnc;
