[Desktop Entry]
Version=1.0
Name=Getting Started Guide - DE
Comment=Information on how to download and install LinuxCNC (German)
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Getting_Started_de.pdf
Icon=linuxcnc_de
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
X-AppStream-Ignore=true
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
