[Desktop Entry]
Version=1.0
Name=G-Code Quick Reference - EN
Comment=Quick reference for G, M, and O codes in LinuxCNC
Type=Application
Exec=x-www-browser /usr/share/doc/linuxcnc/gcode.html
Icon=linuxcnc_en
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-REF;
Keywords=cnc;linuxcnc;cncdoc;
