
[Desktop Entry]
Version=
Encoding=UTF-8
Name=LinuxCNC HAL Manual
Type=Application
Exec=/usr/bin/see /usr/share/doc/linuxcnc/LinuxCNC_HAL_Manual.pdf
Icon=gnome-help
X-GNOME-DocPath=
Terminal=false
Comment=The LinuxCNC HAL Manual. Details about the Hardware Abstract Layer.
StartupNotify=false
Categories=X-CNC;
GenericName[en_US]=
