[Desktop Entry]
Version=1.0
Name=User Manual - zh_CN
Comment=LinuxCNC Documentation
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Documentation_zh_CN.pdf
Icon=linuxcnc_zh_CN
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
