[Desktop Entry]
Version=1.0
Name=Integrator Information - EN
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Integrator.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc-en.svg
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Utility;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
