[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/linuxcnc
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=LinuxCNC
Comment=The LinuxCNC Enhanced Machine Controller
StartupNotify=false
Categories=X-CNC;
