[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/stepconf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=Stepconf Wizard
Comment=Stepper Configuration Wizard
StartupNotify=false
Categories=X-CNC;
Keywords=cnc;linuxcnc;
