[Desktop Entry]
Version=1.0
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Documentation.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc-en.svg
X-GNOME-DocPath=
Terminal=false
Name=User Manual - EN
Comment=LinuxCNC Documentation
StartupNotify=false
Categories=Utility;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
