[Desktop Entry]
Version=1.0
Name=Integrator Information - EN
Comment=Documentation for the integrator of LinuxCNC
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Integrator.pdf
Icon=linuxcnc_en
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
X-AppStream-Ignore=true
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
