[Desktop Entry]
Version=1.0
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/gcode.html
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc-en.svg
X-GNOME-DocPath=
Terminal=false
Name=G-Code Quick Reference - EN
Comment=Quick reference for G, M, and O codes in LinuxCNC
StartupNotify=false
Categories=Utility;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
