[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/latency-test
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=Latency Test
Comment=Determine your machine's latency
StartupNotify=false
Categories=X-CNC;
