[Desktop Entry]
Version=1.0
Name=User Manual - FR
Comment=LinuxCNC Documentation
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Documentation_fr.pdf
Icon=linuxcnc_fr
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
