[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/pncconf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Comment=Configuration Wizard For Mesa I/O Cards
StartupNotify=false
Categories=X-CNC;
Name=Pncconf Wizard
Keywords=cnc;linuxcnc;
