[Desktop Entry]
Version=
Encoding=UTF-8
Name=French Integrator Manual
Type=Application
Exec=/usr/bin/see /usr/share/doc/linuxcnc/LinuxCNC_Integrator_Manual_fr.pdf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Comment=Configuration Information 
StartupNotify=false
Categories=X-CNC;
GenericName[en_US]=
Comment[en_US]=Installation and Configuration Manual (French)
