[Desktop Entry]
Version=1.0
Name=G-Code Quick Reference - zn_CN
Comment=Quick reference for G, M and O codes in LinuxCNC
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/gcode_zn_CN.html
Icon=linuxcnc_zn_CN
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
