#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/latency-histogram
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=Latency Histogram Test
Comment=Test your computers's latency and show a histogram
StartupNotify=false
Categories=X-CNC;
Name[en_US]=linuxcnc-latency-histogram.desktop
