[Desktop Entry]
Version=1.0
Name=LinuxCNC Manual Pages
Comment=Integrator Information
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Manual_Pages.pdf
Icon=linuxcnc_en
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=Science;Engineering;X-CNC-DOC;
Keywords=cnc;linuxcnc;cncdoc;
