[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/machinekit
Icon=machinekiticon
X-GNOME-DocPath=
Terminal=false
Name=Machinekit
Comment=The Machinekit CNC Machine Controller
StartupNotify=false
Categories=X-CNC;
