[Desktop Entry]
Version=1.0
Name=French Getting Started Guide
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Getting_Started_fr.pdf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Comment=Information on how to download and install LinuxCNC
StartupNotify=false
Categories=Utility;Engineering;X-CNC;
Keywords=cnc;linuxcnc;cncdoc
