[Desktop Entry]
Version=1.0
Name=Getting Started Guide - ES
Type=Application
Exec=xdg-open /usr/share/doc/linuxcnc/LinuxCNC_Getting_Started_es.pdf
Icon=/usr/share/icons/hicolor/scalable/apps/linuxcnc_es.svg
X-GNOME-DocPath=
Terminal=false
Comment=Information on how to download and install LinuxCNC
StartupNotify=false
Categories=Science;X-CNC-DOC;
Keywords=cnc;linuxcnc;
