style "entry-r"
{
	GtkWidget::interior_focus	= 1
	xthickness = 8
	ythickness = 3
  	engine "pixmap"
	{

		# Text-entry
		image
		{
			function		= SHADOW
			detail			= "entry"
			shadow			= IN
			recolorable		= FALSE
			file			= "Shadows2/text-nautilus.png"
			border			= { 10,10,3,3 }
			stretch			= TRUE
		}

	}
}

style "entry-s"
{
	GtkWidget::interior_focus	= 1
	xthickness = 2
	ythickness = 0
  	engine "pixmap"
	{

		# Text-entry
		image
		{
			function		= SHADOW
			detail			= "entry"
			shadow			= IN
			recolorable		= FALSE
			file			= "Shadows/text-entry.png"
			border			= { 2,2,2,2 }
			stretch			= TRUE
		}

	}
}

style "entry-f" = "entry-r"
{
  	engine "pixmap"
	{
		# Toolbar background
		image
		{
			function	= BOX
			file		= "Toolbar/patch.png"
			border		= { 0, 0, 0, 0}
			stretch		= FALSE

    		}
	}
}

style "toolbar-ephy" = "toolbar"
{
	xthickness = 6
	ythickness = 2
}

widget_class "*Ephy*Toolbar*Entry"		style "entry-r"
widget "*Ephy*Find*"			style "entry-f"
widget "*EphyLocationEntry*"		style "entry-s"
widget_class "*Ephy*Button*"		style "toolbar-ephy"
