style "entry-e"
{
	GtkWidget::interior_focus	= 1
	xthickness = 2
	ythickness = 0
  	engine "pixmap"
	{

		# Text-entry
		image
		{
			function		= SHADOW
			detail			= "entry"
			shadow			= IN
			recolorable		= FALSE
			file			= "Shadows/text-entry.png"
			border			= { 2,2,2,2 }
			stretch			= TRUE
		}

	}
}

style "evo-bkgr" = "deault"
{
	bg_pixmap[NORMAL] = "Toolbar/patch.png"
}

style "evotool-button" = "optionmenu"
{
	engine "pixmap" 
	{
		# Toolbar button
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file            	= "Toolbar/toolbutton-prelight.png"
			border          	= { 1, 1, 1, 2 }
			stretch         	= TRUE
		}
		
		# Toolbar button (mouse over)
		image
		{
			function      		= BOX
			recolorable    		= TRUE
			state				= PRELIGHT
			file          		= "Toolbar/toolbutton-prelight.png"
			border        		= { 1, 1, 1, 2 }
			stretch       		= TRUE
		}


		# Toolbar button (clicked)
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file            	= "Toolbar/toolbutton-pressed.png"
			border          	= { 1, 1, 1, 2 }
			stretch         	= TRUE
		}  
		
		# Toolbar button (disabled)
		image
		{
			function      		= BOX
			recolorable    		= TRUE
			state			= INSENSITIVE
			file          		= "Toolbar/toolbutton-inactive.png"
			border        		= { 5, 5, 5, 5 }
			stretch       		= TRUE
		}  
	}
}


widget "EShellWindow*.GtkHBox*"				style "evo-bkgr"
widget "EShellWindow*.GtkHPaned*"			style "evo-bkgr"
widget "EShellWindow*.EMFolderBrowser*GtkEntry"		style "entry-e"
widget "EShellWindow*.CalSearch*.GtkEntry"		style "entry-e"
widget "EShellWindow*.EABView*.GtkEntry"		style "entry-e"
widget_class "EShellWindow*.EMemos*" 			style "list-header"
widget_class "EShellWindow*.EMemoTable*"		style "list-header"
widget_class "EShellWindow*.ECalListView*" 		style "list-header"
widget_class "EShellWindow*.ECalendarTable*" 		style "list-header"
widget_class "EShellWindow*.EMFolderBrowser*.ETree*" 	style "list-header"
widget_class "EShellWindow*.EComboButton*" 		style "evotool-button"
widget_class "EShellWindow*.GtkToggleButton*"		style "toolbuttons"
