
style "toolbar-n" = "toolbar"
{
  	xthickness = 4
	ythickness = 2

}

style "entry-n" = "default"
{
	GtkWidget::interior_focus	= 1
	xthickness = 10
	ythickness = 3
  	engine "pixmap"
	{

		# Text-entry
		image
		{
			function		= SHADOW
			detail			= "entry"
			shadow			= IN
			recolorable		= FALSE
			file			= "Shadows2/text-nautilus.png"
			border			= { 10,10,3,3 }
			stretch			= TRUE
		}

	}
}

widget_class "*Nautilus*Toolbar*Entry*"		style "entry-n"
widget_class "*Nautilus*Button*"	style "toolbar-n"
