########################################################################
# Spinbox
########################################################################

style "spinbutton"    
{
	engine "pixmap"
	{
### Spinbutton ###
		image
		{
      		function = BOX
      		detail = "spinbutton"
      		file = "button/button-spin.png"
      		border = {2, 2, 2, 2}
      		stretch	= TRUE
    	}
    	
### Arrow UP ###
    	image
    	{
      		function = ARROW
    	}

## Normal
    	image
    	{
			function = BOX
			state = NORMAL
			detail = "spinbutton_up"
			overlay_file = "arrow/arrow-up.png"
			overlay_stretch	= FALSE
    	}
    
## Prelight
    	image
    	{
			function = BOX
			state = PRELIGHT
      		detail = "spinbutton_up"
			overlay_file = "arrow/arrow-up.png"
			overlay_stretch	= FALSE
		}

## Insensitive    
		image
		{
			function = BOX
			state = INSENSITIVE
			detail = "spinbutton_up"
			overlay_file = "arrow/arrow-up-disable.png"
			overlay_stretch	= FALSE
		}

## Active
		image
		{
			function = BOX
			state = ACTIVE
			detail = "spinbutton_up"
			overlay_file = "arrow/arrow-up.png"
			overlay_stretch	= FALSE
		}    

### Arrow DOWN ###
		
## Normal
		image
		{
			function = BOX
			state = NORMAL
			detail = "spinbutton_down"
			overlay_file = "arrow/arrow-down.png"
			overlay_stretch	= FALSE
		}

## Prelight
		image
    	{
			function = BOX
      		state = PRELIGHT
      		detail = "spinbutton_down"
      		overlay_file = "arrow/arrow-down.png"
      		overlay_stretch	= FALSE
    	}

## Insensitive    
    	image
    	{
      		function = BOX
      		state = INSENSITIVE
      		detail = "spinbutton_down"
      		overlay_file = "arrow/arrow-down-disable.png"
      		overlay_stretch	= FALSE
    	}

## Active    
    	image
    	{
      		function = BOX
      		state = ACTIVE
      		detail = "spinbutton_down"
      		overlay_file = "arrow/arrow-down.png"
      		overlay_stretch	= FALSE
    	}
  	}
}

class "GtkSpinButton*" style "spinbutton"

