##########thunar tweaks############

style "alt_shadows" = "default"
{

  engine "pixmap"
  {
    image
    {
      function			= SHADOW
      shadow			= IN
      recolorable		= FALSE
      file				= "Shadows2/shadow-in.png"
      border			= { 2, 2, 2, 2 }
      stretch			= TRUE
    }

  }
}

style "toolbar-t" = "toolbar"
{
	xthickness = 6
	ythickness = 2
}


style "entry-t" = "default"
{
	GtkWidget::interior_focus	= 1
	xthickness = 10
	ythickness = 3
  	engine "pixmap"
	{

		# Text-entry
		image
		{
			function		= SHADOW
			detail			= "entry"
			shadow			= IN
			recolorable		= FALSE
			file			= "Shadows2/text-thunar.png"
			border			= { 10,10,3,3 }
			stretch			= TRUE
		}

	}

}

style "entry-right-t" = "default"
{
	xthickness = 6
	ythickness = 3

	GtkWidget::focus_padding = 0

	engine "pixmap" 
	{
		# Toolbar button
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file            	= "Shadows2/text-end.png"
			border          	= { 0, 9, 3, 3 }
			stretch         	= TRUE
		}
		
		# Toolbar button (mouse over)
		image
		{
			function      		= BOX
			recolorable    		= TRUE
			state				= PRELIGHT
			file            	= "Shadows2/text-end.png"
			border          	= { 0, 9, 3, 3 }
			stretch       		= TRUE
		}

		# Toolbar arrow down (mouse over)
		image
             	{
        		function		    = ARROW
            		recolorable		    = TRUE
            		state				= NORMAL
            		overlay_file		= "Shadows2/arrow.png"
            		overlay_stretch		= FALSE
            		arrow_direction		= DOWN
        	}

		image
             	{
        		function		    = ARROW
            		recolorable		    = TRUE
            		state				= PRELIGHT
            		overlay_file		= "Shadows2/arrow.png"
            		overlay_stretch		= FALSE
            		arrow_direction		= DOWN
        	}

		image
             	{
        		function		    = ARROW
            		recolorable		    = TRUE
            		state				= ACTIVE
            		overlay_file		= "Shadows2/arrow.png"
            		overlay_stretch		= FALSE
            		arrow_direction		= DOWN
        	}

		# Toolbar button (clicked)
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file            	= "Shadows2/text-end.png"
			border          	= { 0, 9, 3, 3 }
			stretch         	= TRUE
		}  
		
		# Toolbar button (disabled)
		image
		{
			function      		= BOX
			recolorable    		= TRUE
			state			= INSENSITIVE
			file            	= "Shadows2/text-end.png"
			border          	= { 0, 9, 3, 3 }
			stretch       		= TRUE
		}  
	}
}


class "*Thunar*" style "alt_shadows"
class "ThunarPathEntry"		style "entry-t"
widget_class "*Thunar*Button*"	style "toolbar-t"
widget_class "*ThunarWindow*ThunarLocationEntry.GtkToggleButton*" style "entry-right-t"
