[SUBROUTINE]
icon = circle.png
name = Circle 2 points
image = circle.png
type = circle
help = 	<b>Creates a circle by 2 points</b>
 Points are the ends of the diameter and can add a flat
order = act fcut h1 x1 y1 x2 y2 h2 f rot h3 opt dir s u_s dpt u_dpt h4 fp fc

[PARAM_ACT]
name = Active
type = bool
value = 1

[PARAM_FCUT]
name = Show design
type = bool
value = 1

[PARAM_H1]
name = Coords
type = sub-header

[PARAM_X1]
name = X1
type = float
icon = x.png
tool_tip = One end of the diameter
value = 0.0
metric_value = 0.0
header = h1

[PARAM_Y1]
name = Y1
type = float
icon = y.png
tool_tip = One end of the diameter
value = 0.0
metric_value = 0.0
header = h1

[PARAM_X2]
name = X2
type = float
icon = x.png
tool_tip = Opposite end of the diameter
value = 2
header = h1
metric_value = 50

[PARAM_Y2]
name = Y2
type = float
icon = y.png
tool_tip = Opposite end of the diameter
value = 1
header = h1
metric_value = 25

[PARAM_H2]
name = D flat
type = sub-header

[PARAM_F]
name = Remove
icon = d-flat.png
type = float
minimum_value = 0.0
tool_tip = Height to remove from diameter
value = 0.0
header = h2
metric_value = 0.0

[PARAM_ROT]
name = Rotation
type = float
digits = 2
icon = angle.png
tool_tip = Rotation of flat
value = 0
header = h2
suffix = °

[PARAM_H3]
name = Milling
type = sub-header

[PARAM_OPT]
name = Option
type = combo
options = Inside normal=0:Pocket=1:On the line=2:Outside=3
icon = g4x.png
tool_tip = Select tool path
value = 0
header = h3

[PARAM_DIR]
name = Direction
type = combo
options = Clockwise=2:Counter-Clockwise=3
icon = cw-ccw.png
tool_tip = Direction of path
value = 3
header = h3

[PARAM_S]
name = Cut start
type = combo-user
options = User defined=0:Surface=1:Half=2:One quarter=3:Three quarter=4
icon = surface.png
tool_tip = Pre or user defined
value = 1
header = h3
links = u_s=0

[PARAM_U_S]
name = User start
type = float
value = 0.0
metric_value = 0.0
header = h3
hidden = 1

[PARAM_DPT]
name = Cut down to
type = combo-user
options = User defined=0:Through=1:Bottom=2:Half=3:One quarter=4:Three quarter=5
icon = depth.png
tool_tip = Pre or user defined
value = 1
header = h3
links = u_dpt=0

[PARAM_U_DPT]
name = User depth
type = float
value = -0.5
metric_value = -12.0
header = h3
hidden = 1

[PARAM_H4]
name = Finishing
type = sub-header

[PARAM_FP]
name = Finishing pass
type = combo
options = None=0:Clockwise=2:Counter-Clockwise=3
tool_tip = Conventional for better finish
value = 0
header = h4

[PARAM_FC]
name = Finishing cut
header = h4
type = float
minimum_value = 0.0
icon = rect-pocket.png
tool_tip = Last finishing cut
value = 0.05
metric_value = 1.25

[DEFINITIONS]
content =
;	<eval>self.include_once(file name here)</eval>

[CALL]
content = 
	(begin circle from ends of diameter)
	(author : Fernand Veilleux)
	o<#self_id_active> if [#param_act] (if enabled)
		#<flat#ID> = [#param_f * #<_units_radius>]
		#<delx#ID> = [#param_x2 - #param_x1]
		#<dely#ID> = [#param_y2 - #param_y1]
		#<diameter#ID> = [SQRT[#<delx#ID> * #<delx#ID> + #<dely#ID> * #<dely#ID>]]
		#<cx#ID> = [[#param_x1 + #param_x2] / 2]
		#<cy#ID> = [[#param_y1 + #param_y2] / 2]
	
		o<select> CALL [31] [#param_s] [#param_u_s] [#<surface>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
		o<select> CALL [32] [#param_dpt] [#param_u_dpt] [#<bottom_through>] [#<bottom>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
	
		o<circle> CALL [#<cx#ID>] [#<cy#ID>] [#<diameter#ID>] [#<flat#ID>] [#param_rot] [#param_opt] [#param_dir] [#31] [#32] [#param_fcut] [#param_fp] [#param_fc]
	o<#self_id_active> endif
	(end circle from ends of diameter)
