[SUBROUTINE]
icon = circle.png
name = Circle by Center
image = circle.png
type = circle
help = <b>Creates a circle from it's center</b>
	Can add a flat
order = act pv h1 cx al_x cy al_y d h2 f rot h3 opt dir s u_s dpt u_dpt h4 fp fc

[PARAM_ACT]
name = Active
type = bool
value = 1

[PARAM_PV]
name = Show design
type = bool
value = 1

[PARAM_H1]
name = Coords, size
type = sub-header

[PARAM_H4]
name = Finishing
type = sub-header

[PARAM_FP]
name = Finishing pass
type = combo
options = None=0:Clockwise=2:Counter-Clockwise=3
tool_tip = Conventional for better finish
value = 0
header = h4

[PARAM_FC]
name = Finishing cut
header = h4
type = float
minimum_value = 0.0
icon = rect-pocket.png
tool_tip = Last finishing cut
value = 0.05
metric_value = 01.25

[PARAM_CX]
name = cX
type = float
icon = center.png
tool_tip = Center of circle
value = 0.0
metric_value = 0.0
header = h1

[PARAM_AL_X]
name = X axis align
type = combo
options = Left=0:Center=1:Right=2
header = h1
value = 1
tool_tip = Define X reference point

[PARAM_CY]
name = cY
type = float
icon = center.png
tool_tip = Center of circle
value = 0.0
metric_value = 0.0
header = h1

[PARAM_AL_Y]
name = Y axis align
type = combo
options = Top=0:Center=1:Bottom=2
header = h1
value = 1
tool_tip = Define Y reference point

[PARAM_D]
name = Diameter
type = float
minimum_value = 0.0
icon = diameter.png
tool_tip = Diameter
value = 1.5
header = h1
metric_value = 45
no_zero = 1

[PARAM_H2]
name = D flat
type = sub-header

[PARAM_F]
name = Remove
icon = d-flat.png
type = float
minimum_value = 0.0
tool_tip = Height to remove from diameter
value = 0
metric_value = 0.0
header = h2

[PARAM_ROT]
name = Rotation
type = float
digits = 2
icon = angle.png
tool_tip = Rotation of flat
value = 0.0
header = h2
suffix = °

[PARAM_H3]
name = Milling
type = sub-header

[PARAM_OPT]
name = Option
type = combo
options = Inside normal=0:Pocket=1:On the line=2:Outside=3
icon = g4x.png
tool_tip = Select tool path
value = 0
header = h3

[PARAM_DIR]
name = Direction
type = combo
options = Clockwise=2:Counter-Clockwise=3
icon = cw-ccw.png
tool_tip = Direction of path
value = 3
header = h3

[PARAM_S]
name = Cut start
type = combo-user
options = User defined=0:Surface=1:Half=2:One quarter=3:Three quarter=4
icon = surface.png
tool_tip = Pre or user defined
value = 1
header = h3
links = u_s=0

[PARAM_U_S]
name = User start
type = float
value = 0.0
metric_value = 0.0
header = h3
hidden = 1

[PARAM_DPT]
name = Cut down to
type = combo-user
options = User defined=0:Through=1:Bottom=2:Half=3:One quarter=4:Three quarter=5
icon = depth.png
tool_tip = Pre or user defined
value = 1
header = h3
links = u_dpt=0

[PARAM_U_DPT]
name = User depth
type = float
value = -0.5
metric_value = -12.0
header = h3
hidden = 1

[DEFINITIONS]
content =
;	<eval>self.include_once(file name here)</eval>

[CALL]
content =
	(begin circle from center)
	(author : Fernand Veilleux)
	o<#self_id_active> if [#param_act] (if enabled)
		o<select> CALL [31] [#param_s] [#param_u_s] [#<surface>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
		o<select> CALL [32] [#param_dpt] [#param_u_dpt] [#<bottom_through>] [#<bottom>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
		
		o<select> CALL [33] [#param_al_x] [#param_d * #<_units_radius> / 2] [0] [-#param_d * #<_units_radius> / 2]
		o<select> CALL [34] [#param_al_y] [-#param_d * #<_units_radius> / 2] [0] [#param_d * #<_units_radius> / 2]
		
		o<circle> CALL [#param_cx + #33] [#param_cy + #34] [#param_d * #<_units_radius>] [#param_f * #<_units_radius>] [#param_rot] [#param_opt] [#param_dir] [#31] [#32] [#param_pv] [#param_fp] [#param_fc]
	o<#self_id_active> endif
