[SUBROUTINE]
icon = arc-to-xyr.png
name = Arc To Coords
image = arc-to-xyr.png
type = poly_arc_to
help = <b>Add an arc to a polyline</b>
 Define destination, dir and arc height or radius
order = act h3 cs cr rev0 h1 type x y h2 atype height rev dir h4 ted te

[PARAM_H3]
name = Link
type = sub-header
tool_tip = Link style with previous item

[PARAM_CS]
name = Type
header = h3
type = combo
options = None=0:Rounded=1:Chamfered=2:Inverted Round=3
#icon = corner-radius.png
tool_tip = Select link type
value = 0

[PARAM_CR]
name = Radius
header = h3
type = float
minimum_value = 0.0
icon = corner-radius.png
tool_tip = Radius for rounded or distance from apex
value = 0.3
metric_value = 6

[PARAM_REV0]
name = Complement
type = bool
header = h3
tool_tip = Reverse direction of tool path for rounded or inverted round
value = 0

[PARAM_H4]
name = Milling
type = sub-header

[PARAM_TED]
name = Tool engagement
type = combo-user
options = Global=0:Specific=1
links = te=1
value = 0
header = h4
tool_tip = Tool engagement for this segment

[PARAM_TE]
name = Tool engagement
type = float
value = 100
digits = 0
header = h4
maximum_value = 100
minimum_value = 0
hidden = 1
suffix = %

[PARAM_ACT]
name = Active
type = bool
value = 1

[PARAM_H1]
name = Arc end coords
type = sub-header
tool_tip = Relative or absolute position

[PARAM_X]
name = X
header = h1
type = float
icon = x.png
tool_tip = Destination X
value = 1
metric_value = 25

[PARAM_Y]
name = Y
header = h1
type = float
icon = y.png
tool_tip = Destination Y
value = 1
metric_value = 25

[PARAM_TYPE]
name = Option
header = h1
type = combo
options = Relative=4:Absolute=5
tool_tip = Select Relative or Absolute
value = 4

[PARAM_H2]
name = Definition
type = sub-header
tool_tip = Define arc

[PARAM_ATYPE]
name = Option
header = h2
type = combo
options = Radius=0:Arc height=1
value = 0
tool_tip = Select value defined

[PARAM_HEIGHT]
name = Size
type = float
header = h2
value = 1
metric_value = 25
minimum_value = 0
no_zero = 1

[PARAM_DIR]
name = Direction
header = h2
type = combo
options = Clockwise=2:Counter-Clockwise=3
icon = cw-ccw.png
tool_tip = Direction of path
value = 2

[PARAM_REV]
name = Flip center
type = bool
header = h2
value = 0
tool_tip = Center opposite side of chord

[CALL]
content =
	(arc to absolute or relative coords)
	(author : Fernand Veilleux)
	o<#self_id_active> if [#param_act AND #<in_polyline>]
		o<select> CALL [31] [#param_ted] [#<poly_global_engagement>] [#param_te]
		o<poly_add_item> CALL [#param_type] [#param_x] [#param_y] [#param_dir] [#param_cs] [#param_cr] [#param_rev0] [#31] [#param_height] [#param_atype] [#param_rev]
	o<#self_id_active> endif
