[SUBROUTINE]
icon = close.png
name = Polyline
image = close.png
type = poly
help = 	<b>Create a closed or open polyline</b>
 <span foreground="blue" style="oblique"><b>Message possible in terminal window</b></span>
order = act fcut h2 x y rot h1 dx dy h6 gte comp dir s u_s dpt u_dpt items h7 cdir h5 orcs orcr orrev h3 atype height rev2 h9 ted te

[PARAM_H1]
name = Offsets, rotation
type = sub-header

[PARAM_H2]
name = Origin
type = sub-header

[PARAM_H5]
name = Link
type = sub-header
header = h7
tool_tip = Link style with previous item

[PARAM_H6]
name = Milling
type = sub-header

[PARAM_H7]
name = Closing
type = header
icon = close.png

[PARAM_ACT]
name = Active
type = bool
value = 1

[PARAM_X]
name = X
header = h2
type = float
icon = x.png
tool_tip = Origin X
value = 0
metric_value = 0.0

[PARAM_Y]
name = Y
header = h2
type = float
icon = y.png
tool_tip = Origin Y
value = 0
metric_value = 0.0

[PARAM_DX]
name = dX
header = h1
type = float
icon = dx.png
tool_tip = Offset origin
value = 0
metric_value = 0.0

[PARAM_DY]
name = dY
header = h1
type = float
icon = dy.png
tool_tip = Offset origin
value = 0
metric_value = 0.0

[PARAM_ROT]
name = Rotation
header = h2
type = float
value = 0.0
icon = angle.png
digits = 2
tool_tip = Rotation around offsets
suffix = °

[PARAM_ORCS]
name = Type
header = h5
type = combo
options = None=0:Rounded=1:Chamfered=2:Inverted Round=3
#icon = corner-radius.png
tool_tip = Select link type
value = 0

[PARAM_ORCR]
name = Radius
header = h5
type = float
minimum_value = 0.0
icon = corner-radius.png
tool_tip = Radius for rounded or distance from apex
value = 0.3
metric_value = 5

[PARAM_ORREV]
name = Complement
type = bool
header = h5
tool_tip = Reverse direction of tool path for rounded or inverted round
value = 0

[PARAM_COMP]
name = Tool compensation
header = h6
type = combo
options = None=40:Left=41:Right=42
icon = g4x.png
tool_tip = Which side cutter will travel
value = 40

[PARAM_DIR]
name = Direction
header = H6
type = combo
options = Designed=0:Reverse=1
icon = cw-ccw.png
tool_tip = Mill as designed or in reverse
value = 0

[PARAM_S]
name = Cut start
type = combo-user
options = User defined=0:Surface=1:Half=2:One quarter=3:Three quarter=4
icon = surface.png
tool_tip = Pre or user defined
value = 1
header = h6
links = u_s=0

[PARAM_U_S]
name = User start
type = float
value = 0.0
metric_value = 0.0
header = h6
hidden = 1

[PARAM_DPT]
name = Cut down to
type = combo-user
options = User defined=0:Through=1:Bottom=2:Half=3:One quarter=4:Three quarter=5
icon = depth.png
tool_tip = Pre or user defined
value = 1
header = h6
links = u_dpt=0

[PARAM_U_DPT]
name = User depth
type = float
value = -0.5
metric_value = -12.0
header = h6
hidden = 1

[PARAM_ITEMS]
name = Items
type = items
icon = items.png
tool_tip = Add polyline items here

[PARAM_FCUT]
name = Show design
type = bool
value = 1

[PARAM_CDIR]
name = Close item
header = h7
type = combo
options = Do not close=0:Straight line=1:Arc clockwise=2:Arc counter-clockwise=3
icon = close.png
tool_tip = Closed or not and direction of closing line
value = 0

[PARAM_H3]
name = Arc definition
type = sub-header
tool_tip = Define arc
header = h7

[PARAM_ATYPE]
name = Option
header = h3
type = combo
options = Radius=0:Arc height=1
value = 0
tool_tip = Select value defined

[PARAM_HEIGHT]
name = Size
type = float
header = h3
value = 1
metric_value = 25
minimum_value = 0
no_zero = 1

[PARAM_REV2]
name = Flip center
type = bool
header = h3
value = 0
tool_tip = Center opposite side of chord

[PARAM_H9]
name = Milling
type = sub-header
header = h7

[PARAM_TED]
name = Tool engagement
type = combo-user
options = Global=0:Specific=1
links = te=1
value = 0
header = h9
tool_tip = Tool engagement for this segment

[PARAM_TE]
name = Tool engagement
type = float
value = 100
digits = 0
header = h9
maximum_value = 100
minimum_value = 0
hidden = 1
suffix = %

[PARAM_GTE]
name = Global tool engagement
type = float
value = 100
digits = 0
header = h6
maximum_value = 100
minimum_value = 0
icon =
suffix = %

[DEFINITIONS]
content =
;	<eval>self.include_once(file name here)</eval>

[BEFORE]
content =
	(begin polyline)
	(author : Fernand Veilleux)
	o<#self_id_active> if [#param_act AND [#<in_polyline> EQ 0]]
		#<poly_global_engagement> = [#param_gte / 100]
		
		(init and set origin)
		o<poly_add_item> CALL [-1] [#param_x] [#param_y]
		
		#<in_polyline> = 1
		(polyline items follow)

[AFTER]
content =
		(end polyline items)
		#<in_polyline> = 0
		
		o<#self_id_end> if [#5000 GT 0]
		
			(return to origin w/ either a line 1 or an arc 5)
			o<select> CALL [31] [#param_ted] [#<poly_global_engagement>] [#param_te]
			o<#self_id_end0> if [#param_cdir GT 1]
				o<poly_add_item> CALL [5] [#param_x] [#param_y] [#param_cdir] [#param_orcs] [#param_orcr] [#param_orrev] [#31] [#param_height] [#param_atype] [#param_rev2]
			o<#self_id_end0> else
				o<poly_add_item> CALL [1] [#param_x] [#param_y] [#param_cdir] [#param_orcs] [#param_orcr] [#param_orrev] [#31]
			o<#self_id_end0> endif
		
			o<poly_create> CALL
			
			o<#self_id_rev> if [#param_dir]
				o<poly_reverse> CALL
			o<#self_id_rev> endif
			
			o<poly_copy_mill> CALL
	
			o<optimize> CALL [#<_mill_data_start>] [#param_comp] [0] [#<poly_global_engagement> * #5410 / 100]
		
			o<select> CALL [31] [#param_s] [#param_u_s] [#<surface>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
			o<select> CALL [32] [#param_dpt] [#param_u_dpt] [#<bottom_through>] [#<bottom>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
		
			o<poly_mill> CALL [#<_mill_data_start>] [#31] [#32] [#param_comp] [#param_fcut] [#param_dx] [#param_dy] [#param_rot] [#<poly_global_engagement>]
			
		o<#self_id_end> endif
	o<#self_id_active> endif
	(end polyline)

[CALL]
content =
