[SUBROUTINE]
icon = oval.png
name = Slot/oval 1 point
image = oval.png
type = slot
help = <b>Creates a slot from a single point</b>
 Reference point can be center of slot or of one end
order = act pv h1 x ref y h5 w l rot h2 opt dir s u_s dpt u_dpt h4 fp fcs

[PARAM_ACT]
name = Active
type = bool
value = 1

[PARAM_PV]
name = Show design
type = bool
value = 1

[PARAM_H1]
name = Coords
type = sub-header

[PARAM_H5]
name = Size, rotation
type = sub-header

[PARAM_REF]
name = X axis align
header = h1
type = combo
options = End=0:Center of slot=1
tool_tip = X,Y center of slot or left end
value = 0

[PARAM_X]
name = X
header = h1
type = float
icon = x.png
tool_tip = X Center
value = 0
metric_value = 0.0

[PARAM_Y]
name = Y
header = h1
type = float
icon = y.png
tool_tip = Y center
value = 0
metric_value = 0.0

[PARAM_W]
name = Width
header = h5
type = float
icon = oval-d.png
tool_tip = Width of slot
value = 0.5
metric_value = 12
minimum_value = 0
no_zero = 1

[PARAM_L]
name = Effective length
header = h5
type = float
icon = oval-w.png
tool_tip = Length between center of arcs
value = 1
metric_value = 25
minimum_value = 0
no_zero = 1

[PARAM_ROT]
name = Rotation
header = h5
type = float
digits = 2
icon = angle.png
tool_tip = Angle rotated
value = 0
suffix = °

[PARAM_H2]
name = Milling
type = sub-header

[PARAM_OPT]
name = Option
header = h2
type = combo
options = Inside normal=0:Pocket=1:On the line=2:Outside=3
icon = g4x.png
tool_tip = Select tool path
value = 0

[PARAM_DIR]
name = Direction
header = h2
type = combo
options = Clockwise=2:Counter-Clockwise=3
icon = cw-ccw.png
tool_tip = Direction of tool path
value = 3

[PARAM_S]
name = Cut start
type = combo-user
options = User defined=0:Surface=1:Half=2:One quarter=3:Three quarter=4
icon = surface.png
tool_tip = Pre or user defined
value = 1
header = h2
links = u_s=0

[PARAM_U_S]
name = User start
type = float
value = 0.0
metric_value = 0.0
header = h2
hidden = 1

[PARAM_DPT]
name = Cut down to
type = combo-user
options = User defined=0:Through=1:Bottom=2:Half=3:One quarter=4:Three quarter=5
icon = depth.png
tool_tip = Pre or user defined
value = 1
header = h2
links = u_dpt=0

[PARAM_U_DPT]
name = User depth
type = float
value = -0.5
metric_value = -12.0
header = h2
hidden = 1

[PARAM_H4]
name = Finishing
type = sub-header

[PARAM_FP]
name = Finishing pass
type = combo
options = None=0:Clockwise=2:Counter-Clockwise=3
tool_tip = Conventional for better finish
value = 0
header = h4

[PARAM_FCS]
name = Finishing cut
header = h4
type = float
minimum_value = 0.01
icon = rect-pocket.png
tool_tip = Last finishing cut
value = 0.05
metric_value = 01.25

[DEFINITIONS]
content =
;	<eval>self.include_once(file name here)</eval>

[CALL]
content =
	(slot from center or end)
	(author: Fernand Veilleux)
	o<#self_id_active> if [#param_act] (if enabled)
		#<l#ID>   = [#param_l * #<_units_width>]
		#<w#ID>   = [#param_w * #<_units_width>]
		#<fcs#ID> = [#param_fcs * #<_units_width>]
		
		o<select> CALL [31] [#param_s] [#param_u_s] [#<surface>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
		o<select> CALL [32] [#param_dpt] [#param_u_dpt] [#<bottom_through>] [#<bottom>] [#<surface> - #<wp_depth> / 2] [#<surface> - #<wp_depth> / 4] [#<bottom> + #<wp_depth> / 4]
		
		o<select> CALL [33] [#param_ref] [#<l#ID> / 2] [0]
		
		o<rectangle> CALL [#param_x] [#param_y] [#<l#ID> + #<w#ID>] [#<w#ID>] [#param_rot] [#33] [0] [1] [#<w#ID> / 2] [#param_opt] [#param_dir] [#31] [#32] [#param_pv] [#param_fp] [#<fcs#ID>]
	o<#self_id_active> endif
	(end slot from center or end)

[BEFORE]
content =

[AFTER]
content =
