# xhc-whb04b-6 mpg pendant
SUBSYSTEM=="usb", ATTR{idProduct}=="eb93", ATTR{idVendor}=="10ce", MODE="666", OWNER="root", GROUP="plugdev", TAG+="uaccess"

