coordinates
coordinates.tex
main
main.tex
mill_canned
mill_canned.aux
mill_canned.dvi
mill_canned.log
mill_canned.tex
mill_canned_fr.aux
mill_canned_fr.dvi
mill_canned_fr.log
mill_canned_fr.tex
tool_compensation
tool_compensation.tex
