[Unit]
Description=Starts QQVSim - QtQuickVcpSimulator
After=syslog.target network.target qqvsim.target

[Service]
Type=simple
ExecStart=/bin/bash -a -c "source /home/ysli/proj/machinekit/scripts/rip-environment && \
			   /usr/bin/python2 /home/ysli/proj/remote-ui/qqvsim/run.py"
User=ysli
LimitMEMLOCK=33554432

[Install]
WantedBy=multi-user.target
