widget "*PanelWidget*" style "panel-black"
widget "*PanelApplet*" style "panel-black"
class "*Panel*" style "panel-black"
widget_class "*Mail*" style "panel-black"
widget_class "*notif*" style "panel-black"
widget_class "*Notif*" style "panel-black"
widget_class "*Tray*" style "panel-black"
widget_class "*tray*" style "panel-black"
class "*notif*" style "panel-black"
class "*Notif*" style "panel-black"
class "*Tray*" style "panel-black"
class "*tray*" style "panel-black"
widget_class "*BonoboDockItem" style "panel-black"
class "*BonoboDockItem" style "panel-black"
widget_class "*Panel*GtkToggleButton" style "panelbuttons-black"
