[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/x-www-browser /usr/share/doc/emc2/gcode.html
Icon=gnome-help
X-GNOME-DocPath=
Terminal=false
Name=EMC2 G-Code Quick Reference
Comment=Quick reference about existing G & M codes in EMC2
StartupNotify=false
Categories=X-CNC;
