ul {
list-style-type: none;
}
/* enable tooltips popups
<a class="tooltips" href=http>Link<span>Tooltip</span></a>*/
.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:300px;
  color: #030303;
  background: #A6F3FF;
  height: 20px;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 3px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #A6F3FF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  margin-left: 15px;
  z-index: 999;
}

