[Desktop Entry]
Version=
Encoding=UTF-8
Name=EMC2 Quick Reference G-Code
Type=Application
Exec=/usr/bin/mozilla-firefox /usr/share/doc/emc2/gcode.html
Icon=gnome-help
X-GNOME-DocPath=
Terminal=false
Comment=Quick reference about existing G & M codes in EMC2
StartupNotify=false
Categories=X-CNC;
Name[en_US]=EMC2 Quick Reference G-Code
GenericName[en_US]=
Comment[en_US]=Quick reference about existing G & M codes in EMC2
