[Desktop Entry]
Version=
Encoding=UTF-8
Name=EMC2 Stepconf Wizard
Type=Application
Exec=/usr/bin/stepconf
Icon=emc2icon
X-GNOME-DocPath=
Terminal=false
Comment=Stepconf Configuration Wizard
StartupNotify=false
Categories=X-CNC;
GenericName[en_US]=
Comment[en_US]=Stepper Configuration Wizard
