Source: nativecam
Section: misc
Maintainer: Fernand Veilleux <fernveilleux@gmail.com>
Priority: extra
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: nativecam
#Note: omitting Depends: for linuxcnc|linuxcnc-uspace
#      allows install for RIP-only systems
Depends: python (>=2.7), python-lxml, ${misc:Depends}
Recommends: linuxcnc | linuxcnc-uspace, truetype-tracer
Architecture: all
Description: Conversational programming for LinuxCNC
 Requires LinuxCNC with support for auxiliary examples
 and auxiliary gladevcp applications.
 To check for availability, run the script:
 $ linuxcnc_var all # if Run-in-place, source rip-environment first
 When available, expected system directories are:
 LINUXCNC_AUX_GLADEVCP=/usr/share/linuxcnc/aux_gladevcp
 LINUXCNC_AUX_EXAMPLES=/usr/share/linuxcnc/aux_examples

# Notes:
# Depends: is incomplete
#   but if linuxcnc is installed,
#   other dependencies will be installed already
