NET "SYNCLK"  LOC = "p185" | IOSTANDARD = LVTTL ;
# NET "WAITOUT"  LOC = "p113" | IOSTANDARD = LVTTL
NET "LCLK"  LOC = "P182" | IOSTANDARD = LVTTL ;
OFFSET = OUT 24 ns AFTER "LCLK"  ;
OFFSET = IN 19.5 ns BEFORE "LCLK"  ;
NET "ADS"  LOC = "p98" | IOSTANDARD = LVTTL ;
NET "BLAST"  LOC = "p99" | IOSTANDARD = LVTTL ;
NET "INT"  LOC = "p112" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;
NET "IOBITS<0>"  LOC = "P83" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<10>"  LOC = "P67" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<11>"  LOC = "P63" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<12>"  LOC = "P62" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<13>"  LOC = "P61" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<14>"  LOC = "P60" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<15>"  LOC = "P59" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<16>"  LOC = "P58" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<17>"  LOC = "P57" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<18>"  LOC = "P49" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<19>"  LOC = "P48" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<1>"  LOC = "P82" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<20>"  LOC = "P47" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<21>"  LOC = "P46" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<22>"  LOC = "P45" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<23>"  LOC = "P44" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<24>"  LOC = "P8" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<25>"  LOC = "P7" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<26>"  LOC = "P6" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<27>"  LOC = "P5" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<28>"  LOC = "P4" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<29>"  LOC = "P3" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<2>"  LOC = "P81" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<30>"  LOC = "P206" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<31>"  LOC = "P205" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<32>"  LOC = "P204" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<33>"  LOC = "P203" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<34>"  LOC = "P202" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<35>"  LOC = "P201" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<36>"  LOC = "P200" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<37>"  LOC = "P199" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<38>"  LOC = "P195" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<39>"  LOC = "P194" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<3>"  LOC = "P75" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<40>"  LOC = "P193" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<41>"  LOC = "P192" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<42>"  LOC = "P191" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<43>"  LOC = "P189" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<44>"  LOC = "P188" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<45>"  LOC = "P187" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<46>"  LOC = "P181" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<47>"  LOC = "P180" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<48>"  LOC = "P43" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<49>"  LOC = "P42" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<4>"  LOC = "P74" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<50>"  LOC = "P41" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<51>"  LOC = "P37" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<52>"  LOC = "P36" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<53>"  LOC = "P35" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<54>"  LOC = "P34" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<55>"  LOC = "P33" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<56>"  LOC = "P31" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<57>"  LOC = "P30" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<58>"  LOC = "P29" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<59>"  LOC = "P27" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<5>"  LOC = "P73" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<60>"  LOC = "P24" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<61>"  LOC = "P23" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<62>"  LOC = "P22" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<63>"  LOC = "P21" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<64>"  LOC = "P20" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<65>"  LOC = "P18" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<66>"  LOC = "P17" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<67>"  LOC = "P16" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<68>"  LOC = "P15" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<69>"  LOC = "P14" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<6>"  LOC = "P71" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<70>"  LOC = "P10" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<71>"  LOC = "P9" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<7>"  LOC = "P70" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<8>"  LOC = "P69" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "IOBITS<9>"  LOC = "P68" | SLEW = SLOW  | IOSTANDARD = LVTTL  | DRIVE = 24 ;
NET "LAD<0>"  LOC = "P153" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<10>"  LOC = "P172" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<11>"  LOC = "P168" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<12>"  LOC = "P167" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<13>"  LOC = "P166" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<14>"  LOC = "P165" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<15>"  LOC = "P164" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<16>"  LOC = "P163" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<17>"  LOC = "P162" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<18>"  LOC = "P152" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<19>"  LOC = "P151" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<1>"  LOC = "P146" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<20>"  LOC = "P150" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<21>"  LOC = "P149" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<22>"  LOC = "P148" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<23>"  LOC = "P147" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<24>"  LOC = "P141" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<25>"  LOC = "P140" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<26>"  LOC = "P139" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<27>"  LOC = "P138" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<28>"  LOC = "P136" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<29>"  LOC = "P134" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<2>"  LOC = "P142" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<30>"  LOC = "P133" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<31>"  LOC = "P132" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = FAST ;
NET "LAD<3>"  LOC = "P135" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<4>"  LOC = "P126" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<5>"  LOC = "P119" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<6>"  LOC = "P115" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<7>"  LOC = "P108" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<8>"  LOC = "P174" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LAD<9>"  LOC = "P173" | SLEW = FAST  | IOSTANDARD = LVTTL  | DRIVE = 8 ;
NET "LEDS<0>"  LOC = "P84" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<1>"  LOC = "P86" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<2>"  LOC = "P87" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<3>"  LOC = "P88" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<4>"  LOC = "P89" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<5>"  LOC = "P90" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<6>"  LOC = "P94" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LEDS<7>"  LOC = "P95" | SLEW = SLOW  | DRIVE = 24  | IOSTANDARD = LVTTL ;
NET "LW_R"  LOC = "P101" | IOSTANDARD = LVTTL ;
NET "READY"  LOC = "P102" | IOSTANDARD = LVTTL  | SLEW = FAST ;
#PACE: Start of PACE Area Constraints
#PACE: Start of PACE Prohibit Constraints
#PACE: End of Constraints generated by PACE
NET "LCLK" TNM_NET = "LCLK";
TIMESPEC "TS_LCLK" = PERIOD "LCLK" 33 ns HIGH 50 %;
NET "SYNCLK" TNM_NET = "SYNCLK";
TIMESPEC "TS_SYNCLK" = PERIOD "SYNCLK" 20 ns HIGH 50 %;
