emc2-common
emc2-firmware
emc2-firmware-*
emc2-sim
files
rules
control
tmp
emc2
emc2-dev
emc2-sim-dev
emc2-python
emc2-doc-en
emc2-doc-fr
*.substvars
/emc2.files
/emc2-sim.files
/emc2-sim-dev.files
/emc2-doc-en.files
/emc2-doc-fr.files
*.debhelper
shlibs.local
