Source: emc2
Section: misc
Priority: extra
Maintainer: Chris Radek <chris@timeguy.com>
Build-Depends: debhelper (>> 4.0.0),,,g++,make,libc6-dev,tcl8.4-dev,tk8.4-dev,libgtk2.0-dev,pciutils-dev,libncurses-dev,gettext,libxaw7-dev,libreadline5-dev,lyx-qt,python,tetex-bin,latex2html,yapps2,python2.4-dev,libglu1-mesa-dev,libgl1-mesa-dev
Standards-Version: 2.0.0-rc

Package: emc2-docs
Architecture: all
Suggests: pdf-viewer
Description: PC based motion controller for real-time Linux.
 EMC2 is the next-generation Enhanced Machine Controller which
 provides motion control for CNC machine tools and robotic 
 applications (milling, cutting, routing, etc.).
 .
 This package contains documentation for emc2.
 
Package: emc2-sim
Replaces: emc2
Conflicts: emc2
Provides: emc2
Architecture: any
Depends: ${shlibs:Depends},,tcl8.4,tk8.4,libreadline5, python2.4-numarray, python2.4-imaging, python2.4-imaging-tk, python (>= 2.4), python (<< 2.5), emc2, ${python:Depends}, bwidget (>= 1.7), bwidget (<<1.8), python2.4-tk
Provides: emc2
Suggests: emc2-docs
Description: PC based motion controller for real-time Linux.
 EMC2 is the next-generation Enhanced Machine Controller which
 provides motion control for CNC machine tools and robotic 
 applications (milling, cutting, routing, etc.).

Package: emc2-dev
Architecture: any
Depends: g++, , yapps2-runtime, python (>= 2.4), python (<< 2.5)
Section: libs
Description: PC based motion controller for real-time Linux.
 EMC2 is the next-generation Enhanced Machine Controller which
 provides motion control for CNC machine tools and robotic 
 applications (milling, cutting, routing, etc.).
 .
 This package includes files needed to build new realtime components and
 alternate front-ends for emc2
