[SUBROUTINE]
;Author : Fernand Veilleux
icon = tool.png
name = Drill Circle Irr
image = simp.png
type = drill-cir
help = 	<b>Create a irregular circle</b>
order = ena hdr5 cx cy d hdr6 num h1 h2 h3 h4 h5 h6 hdr3 start depth

[PARAM_ENA]
name = Enabled
type = bool
value = 1

[PARAM_HDR5]
name = Coords, size
type = sub-header

[PARAM_HDR6]
type = sub-header
name = Count, positions

[PARAM_HDR3]
type = sub-header
name = Drilling params

[PARAM_CX]
name = cX
type = float
icon = center.png
tool_tip = Center of circle
value = 0
header = hdr5

[PARAM_CY]
name = cY
type = float
icon = center.png
tool_tip = Center of circle
value = 0
header = hdr5

[PARAM_D]
name = Diameter
type = float
minimum_value = 0.0
icon = diameter.png
tool_tip = Diameter of circle
value = 2
metric_value = 50
header = hdr5

[PARAM_NUM]
name = Number of holes
type = int
minimum_value = 1
maximum_value = 6
icon = num.png
tool_tip = Number of holes
value = 3
header = hdr6

[PARAM_H1]
name = Hole 1 At
type = float
digits = 2
icon = angle.png
tool_tip = Angle
value = 10
header = hdr6

[PARAM_H2]
name = Hole 2 At
type = float
digits = 2
icon = angle.png
tool_tip = Angle
value = 60
header = hdr6

[PARAM_H3]
name = Hole 3 At
type = float
digits = 2
icon = angle.png
tool_tip = Angle
value = 120
header = hdr6

[PARAM_H4]
name = Hole 4 At
type = float
digits = 2
icon = angle.png
tool_tip = Angle
value = 0
header = hdr6

[PARAM_H5]
name = Hole 5 At
type = float
digits = 2
icon = angle.png
tool_tip = Angle
value = 0
header = hdr6

[PARAM_H6]
name = Hole 6 At
type = float
digits = 2
icon = angle.png
tool_tip = Angle
value = 0
header = hdr6

[PARAM_DEPTH]
name = Drill depth
type = float
icon = dz.png
tool_tip = Depth of drilling
value = -0.3
metric_value = -15
header = hdr3

[PARAM_START]
name = Start drilling
type = float
icon = surface.png
tool_tip = Start drilling at height
value = 0.0
metric_value = 0
header = hdr3

[DEFINITIONS]
content = 

[CALL]
content =
  	(Drill irregular circle of #param_num holes)
 	o<#self_id> if [#param_ena]
 		#<radius> = [#param_d * #<_units_r> / 2]
 		#<i> = 0
 		o<#self_id-loop> while [#<i> LT #param_num]
 			o<#self_id-i> if [#<i> EQ 0]
 				o<rotate-xy> CALL [#<radius>] [0] [0] [0] [#param_h1]
 			o<#self_id-i> elseif [#<i> EQ 1]
 				o<rotate-xy> CALL [#<radius>] [0] [0] [0] [#param_h2]
 			o<#self_id-i> elseif [#<i> EQ 2]
 				o<rotate-xy> CALL [#<radius>] [0] [0] [0] [#param_h3]
 			o<#self_id-i> elseif [#<i> EQ 3]
 				o<rotate-xy> CALL [#<radius>] [0] [0] [0] [#param_h4]
 			o<#self_id-i> elseif [#<i> EQ 4]
 				o<rotate-xy> CALL [#<radius>] [0] [0] [0] [#param_h5]
 			o<#self_id-i> else
 				o<rotate-xy> CALL [#<radius>] [0] [0] [0] [#param_h6]
 			o<#self_id-i> endif 
 							
 			o<fv_drill-one> CALL [#param_cx + #<_rotate_result_x>] [#param_cy + #<_rotate_result_y>] [#param_depth] [#param_start]
 			#<i> = [#<i> + 1]
 		o<#self_id-loop> endwhile
 	o<#self_id> endif


[BEFORE]
content = 


[AFTER]
content = 
