<xml>
    <group name='Regular Shape' icon="rect.png">
        <sub name='Rectangle From 1 point' tool_tip='Position by center or corner' icon="center-rect.png" src="mm/mill/fv_rect.ini"/>
        <sub name='Rectangle From 2 points' tool_tip='Position by any corner' icon="rect-corner.png" src="mm/mill/fv_rect-2.ini"/>
        <separator/>
        <sub name='Circle' tool_tip='Create a circle' icon="circle.png" src="mm/mill/fv_circle.ini"/>
        <sub name='Circle By 2 Points' tool_tip='Create a circle from ends of diameter' icon="circle-2.png" src="mm/mill/fv_circle-2.ini"/>
        <separator/>
        <sub name='Slot' tool_tip='Define a point and angle' icon="slot.png" src="mm/mill/fv_slot.ini"/>         
        <sub name='Slot By 2 Points' tool_tip='Define 2 points' icon="slot-2.png" src="mm/mill/fv_slot-2.ini"/>
        <sub name='Radial Slot' tool_tip='Create an radial slot' icon="radial-slot.png" src="mm/mill/fv_slot-arc.ini"/>
        <separator/>
        <sub name='Oval' tool_tip='Create an oval shape' icon="oval.png" src="mm/mill/fv_oval.ini"/>            
        <sub name='Ellipse' tool_tip='Create an ellipse' icon="ellipse.png" src="mm/mill/fv_ellipse.ini"/>       
        <separator/>
        <sub name='Polygon' tool_tip='Polygon of N edges' icon="hexagon.png" src="mm/mill/fv_polygon.ini"/>
    </group>
    <group name='Irregular Shape'>
        <sub name='Taper Hole' tool_tip='Create a hole smaller at the bottom' icon="circle.png" src="mm/mill/fv_taper-hole.ini"/>
    </group>
    <group name='Drilling' icon="tool.png">
        <sub name='Single Or In-Line Holes' tool_tip='Drill a single or line of holes' icon="tool.png" src="mm/mill/fv_drill-one.ini"/>
        <sub name='Regular Circle' tool_tip='Create a regular spaced holes circle' icon="circular-array.png" src="mm/mill/fv_bolt-circle.ini"/>
        <sub name='Irregular Circle' tool_tip='Create a hole circle of different angle spacing' icon="circular-array.png" src="mm/mill/fv_bolt-circle-irr.ini"/>
    </group>
    <group name='Grouping, Offset And Rotation' icon="group.png">
        <sub name='Standard Group' tool_tip='Group features together' icon="group.png" src="fv_group.ini"/>
        <separator/>
        <sub name='Radial array' tool_tip='Array based on diameter or distance' icon="circ-array-diam.png" src="mm/mill/fv_circular-array.ini"/>
        <sub name='Linear array' tool_tip='Create a linear array' icon="array.png" src="mm/mill/fv_linear-array.ini"/>
        <sub name='Rectangular array' tool_tip='Array from a corner or center' icon="rect-array.png" src="mm/mill/fv_rectangular-array.ini"/>
    </group>
    <group name='Tools' icon="tool.png">
        <sub name='Change Tool' tool_tip='Select and set parameters' icon="tool-change.png" src="mm/mill/fv_tool-change.ini"/>
        <sub name='Change Drill' tool_tip='Select and set parameters' icon="tool-params.png" src="mm/mill/fv_drill-change.ini"/>
    </group>
    <group name='Probing' icon="probe.png">
        <sub name='Set Probing Params' tool_tip='Set params before probing' icon="probe.png" src="mm/mill/fv_set-probing-params.ini"/>
        <separator/>
        <sub name='Probe Edges' tool_tip='Find workpiece edges' icon="probe.png" src="mm/mill/fv_probe-edge.ini"/>
        <sub name='Probe Hole' tool_tip='Find the center of a hole' icon="probe-hole.png" src="mm/mill/fv_probe-hole.ini"/>
        <sub name='Probe Cube' tool_tip='Find the center of a cube or cylinder' icon="probe.png" src="mm/mill/fv_probe-cube.ini"/>
        <sub name='Probe Array' tool_tip='Probe a array of place and save to file' icon="probe-down.png" src="mm/mill/fv_probe-array.ini"/>
    </group>
    <group name='Miscellaneous'>
        <sub name='Task' tool_tip='Master feature' icon="gcode.png" src="mm/fv_task.ini"/>
        <sub name='Add Custom G Code' tool_tip='Write custom gcode' icon="gcode.png" src="fv_gcode.ini"/>
        <sub name='Design Cube' tool_tip='Show a temporary cube' icon="rect.png" src="mm/mill/fv_design-cube.ini"/>
        <sub name='Change Units' tool_tip='Change from inch to metric or inverse' icon="rect.png" src="fv_change-units.ini"/>
    </group>
  
</xml>    
