#plasmac material file
#the next line is required for version checking
[VERSION 1]

#example only, may be deleted
#[MATERIAL_NUMBER_1]  
#NAME               = 
#KERF_WIDTH         = 
#THC                = (0 = off, 1 = on)
#PIERCE_HEIGHT      = 
#PIERCE_DELAY       = 
#PUDDLE_JUMP_HEIGHT = (optional, set to 0 or delete if not required)
#PUDDLE_JUMP_DELAY  = (optional, set to 0 or delete if not required)
#CUT_HEIGHT         = 
#CUT_SPEED          = 
#CUT_AMPS           = (optional, only used for operator information)
#CUT_VOLTS          = (modes 0 & 1 only, if not using auto voltage sampling)

