[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/emc
Icon=emc2icon
X-GNOME-DocPath=
Terminal=false
Name=EMC2
Comment=The Enhanced Machine Controller
StartupNotify=false
Categories=X-CNC;
