[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/evince /usr/share/doc/emc2/EMC2_Integrator_Manual.pdf
Icon=gnome-help
X-GNOME-DocPath=
Terminal=false
Name=EMC2 Integrator Manual
Comment=Advanced configuration hints
StartupNotify=false
Categories=X-CNC;
