Modules.symvers
.swishindex*
.tmp_versions
Makefile.inc
Makefile.modinc
config.h
config.log
config.status
objects
depends
autom4te.cache
Module.symvers
config.status.lineno
tags
TAGS
config.h.in
configure
