/Modules.symvers
/.swishindex*
/.tmp_versions
/Makefile.inc
/Makefile.modinc
/aclocal.m4
/config.h
/config.log
/config.status
/objects
/depends
/autom4te.cache
/Module.symvers
/config.status.lineno
/tags
/TAGS
/config.h.in
/configure
/modules.order
/linuxcncconfig.py-tmp
/halcomp-srcs/
/.html-images-stamp
/.htmldoc-stamp
machinetalk/webtalk/zws.pb.cc
machinetalk/webtalk/zws.pb.h
machinetalk/tutorial/htdocs/js/machinetalk
