/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in*
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/configure~
/depends
/.htmldoc-stamp
/.html-images-stamp
/install-sh
/Makefile
/Makefile.in
/Makefile.inc
/Makefile.modinc
/missing
/Modules.symvers
/Module.symvers
/objects
/stamp-h1
/.swishindex*
/tags
/TAGS
/.tmp_versions
